<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../Content/bootstrap.css" />
    <link rel="stylesheet" href="../Content/Site.css" />
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/modernizr-2.6.2.js"></script>
    <script src="../Scripts/respond.js"></script>
    <style>
        .PreLoader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(105,151,219, 0.7);
            align-items: center;
            text-align: center;
            display: none;
            z-index: 99999;
        }


        .BoxLoad {
            width: 50px;
            height: 50px;
            background: #fff;
            position: absolute;
            animation: animate .5s linear infinite;
            left: 50%;
            top: 50%;
            border-radius: 3px;
        }


        @@keyframes loader {
            0% {
                left: -100px
            }

            100% {
                left: 110%;
            }
        }

        @@keyframes animate {
            17% {
                border-bottom-right-radius: 3px;
            }

            25% {
                transform: translateY(9px) rotate(22.5deg);
            }

            50% {
                transform: translateY(18px) scale(1,.9) rotate(45deg);
                border-bottom-right-radius: 40px;
            }

            75% {
                transform: translateY(9px) rotate(67.5deg);
            }

            100% {
                transform: translateY(0) rotate(90deg);
            }
        }

        .ShadowLoad {
            width: 50px;
            height: 5px;
            background: #000;
            opacity: 0.1;
            position: absolute;
            left: 50%;
            top: calc(50% + 59px);
            border-radius: 50%;
            animation: shadow .5s linear infinite;
        }

        @@keyframes shadow {
            50% {
                transform: scale(1.2,1);
            }
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ifsocialForms.ru", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("Личный Кабинет", "_Index", "Home")</li>
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>
    <hr />
    <div class="PreLoader">
        <div class="BoxLoad"></div>
        <div class="ShadowLoad"></div>
    </div>
    <footer>
        <p style="text-align:center">&copy; @DateTime.Now.Year – приложение ASP.NET</p>
    </footer>
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
