
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/chosen.css" rel="stylesheet" />
<link href="~/Content/css/form_formView_style.css" rel="stylesheet" />

<script src="~/Scripts/chosen.jquery.js" type="text/javascript"></script>
@Scripts.Render("~/Scripts/jquery.maskedinput.js")
<div class="title">@ViewBag.Title</div>
<div name="projectID" id="@ViewBag.ProjectID" style="display: none;" />
<div name="operatorID" id="@ViewBag.ProjectID" style="display: none;" />
<div name="questionID" id="@ViewBag.QuestionID" style="display: none;" />
<div>
    <br />
    <div class="show_result">
        <table width="100%">
            <tr>
                <td colspan="3">
                    <div class="view_form">
                    </div>
                    <div class="wrong_choise">Выберите вариант ответа</div>
                    <div class="answer_panel">
                        <table width="100%" class="answer_table"></table>
                    </div>
            </tr>
            <tr>
                <td align="left" width="5%">
                    <button class="previous"><</button>
                </td>
                <td class="index_question" align="center"></td>
                <td align="right" width="5%">
                    <button class="next">></button>
                </td>
            </tr>
        </table>
    </div>
    <button class="all_again" style="margin-top: 20px; display: none;">Начать заново</button>
    <br />

</div>
<div class="TextLimitQuota">
    <div class="TextDiv">
        Квотный лимит превышен
        Завершите разговор
    </div>
    <div class="NewButton">Заново</div>
</div>

<div class="TextStartRec">
    <div class="TextDiv">
        Дождитесь поступления звонка.
    </div>
    <div class="StartRec" onclick="CheckRec()">Начать</div>
</div>

<script src="~/Scripts/device.js"></script>
<script src="~/Scripts/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript">
    var type_q;
    var id_q, id_a;
    var id_project = $('div[name=projectID]').attr('id');
    var id_operator = $('div[name=operatorID]').attr('id');
    var isReload = false;
    let index = 0, max_index = 0;
    var massiv_question_id;
    var result = [];
    var text_other = [];
    var list_base_answer = {};
    var list_transition;
    var list_blocks = {};
    var list_question = {};
    var list_answer = {};
    var list_id_answer_all = {};
    var list_bind_answer_group = {};
    var list_table_row;
    var list_massk = {};
    var list_file = {};
    var list_text_file = {};
    var list_id_question_group = {};
    var list_group = {};
    var list_question_bind_group = {};
    var begin_time = undefined, end_time = undefined; //Время начала анкетирования
    var status = 0;
    var is_load_id = false;
    var active_group = {};
    var q1, q2, q3, q4, q5, q6, q7;
    let count_ajax = 0;
    var massive_quota_id = [];
    let massive_string_chain = [];
    var list_quota = {};
    var list_range = {};
    var loop_result = [];
    let count_cycle, revers_count;
    let back_id_question = [2733, 2734, 2735, 2736, 2737, 2738, 2813, 2820, 2828, 2835, 2934, 2946, 2958, 2970, 2982, 2994, 3006, 3018, 3030, 3042,
        2749, 2755, 2761, 2767, 2773, 2779, 2814, 2821, 2829, 2836, 2935, 2947, 2959, 2971, 2983, 2995, 3007, 3019, 3031, 3043,
        2754, 2760, 2766, 2772, 2778, 2784, 2819, 2827, 2834, 2841, 2945, 2957, 2969, 2981, 2993, 3005, 3017, 3028, 3041, 3053];
    let drop_index = [];
    //Блок выгрузки данных
    {

        //подгрузка листа сс базовыми ответами
        q1 = $.get("/Question/getListAnswerBase")
            .success(function (server_data) {
                $.each(server_data, function (i, item) {
                    list_base_answer[item.Id] = item;
                })
                count_ajax++;
            })
            .error(function (err) { console.error("Ошибка выгрузки данных ... /Question/getListAnswerBase ", err) });
        //Подгрузка таблицы переходов
        q2 = $.get("/Question/getListTransition", { id_p: $('div[name=projectID]').attr('id') })
            .success(function (data) {
                list_transition = data;
                //console.info('Загрузка таблицы переходов успешна ---', list_transition);
                count_ajax++;
            })
            .error(function (err) { console.error('Ошибка загрузки таблицы переходов .../Question/getListTransition ', err); });
        //Подгрузка таблицы переходов
        $.get("/Question/getListBlocks", { id_p: $('div[name=projectID]').attr('id') })
            .success(function (data) {
                $.each(data, function (i, item) {
                    if (list_blocks[item.fromQuestion] == null || list_blocks[item.fromQuestion] == undefined)
                        list_blocks[item.fromQuestion] = [item];
                    else
                        list_blocks[item.fromQuestion].push(item);
                });
                //console.info('Загрузка таблицы блокировок успешна ---', list_blocks);
                count_ajax++;
            })
            .error(function (err) { console.error('Ошибка загрузки таблицы блокировок .../Question/getListBlocks ', err); });
        //Подгузка листа вопросов относящихся к проекту
        q3 = $.get("/Question/getListQuestion", { id_p: $('div[name=projectID]').attr('id') })
            .success(function (server_data) {
                $.each(server_data, function (i, item) {
                    list_question[item.Id] = item;
                })
                //console.info("Успешная выгрузка данных ---", list_question);
                count_ajax++;
            })
            .error(function (err) { console.error("Ошибка выгрузки данных ... /Question/getListQuestion", err) });
        //Подгрузка упорядоченного листа id вопросов
        q4 = $.get("/Group/getIdQuestionGroup", { id_p: $('div[name=projectID]').attr('id') })
            .success(function (server_data) {
                massiv_question_id = server_data;
                //console.log("Prime massive >>> ", massiv_question_id);
                count_ajax++;
                is_load_id = true;
            })
            .error(function (err) { console.error("Ошибка выгрузки данных ... /Group/getIdQuestionGroup ", err) });

        //Подгрузка листа масок
        $.get("/Question/getListMassk")
            .success(function (server_data) {
                $.each(server_data, function (i, data) {
                    list_massk[data.Id] = data.TextMassk;
                })
                count_ajax++;
            })
            .error(function (err) { console.error("Ошибка выгрузка данных ... /Question/getListMassk", err) })

        //Подгрузка листа ответов
        $.when(q4).then(function () {
            q5 = $.get("/Question/getAllAnswerGrow", { massiv: massiv_question_id.join() })
                .success(function (server_data) {
                    $.each(server_data, function (i, item) {
                        list_answer[item.Id] = item;
                    })
                    count_ajax++;
                    console.log("Answer ->", list_answer);
                })
                .error(function (err) { console.error("Ошибка выгрузка данных ... /Question/getAllAnswerGrow ", err) })
        })

        //Подгрузка листа id всех ответов
        $.when(q4).then(function () {
            q6 = $.get("/Question/getIdAnswerAllGrow", { massiv: massiv_question_id.join() })
                .success(function (server_data) {
                    list_id_answer_all = server_data;
                    $.each(server_data, function (i, item) {
                        if (item.BindGroup != null) {
                            list_bind_answer_group[item.AnswerKey] = item;
                            if (list_question_bind_group[item.QuestionID] == null)
                                list_question_bind_group[item.QuestionID] = [item.BindGroup];
                            else
                                list_question_bind_group[item.QuestionID].push(item.BindGroup);
                        }
                    })
                    count_ajax++;
                })
                .error(function (err) { console.error("Ошибка выгрузка данных ... /Question/getIdAnswerAllGrow", err) })
        })

        //Подгрузка листа строк табличного вопроса
        $.when(q4).then(function () {
            q7 = $.get("/Question/getAllTableRow", { massiv: massiv_question_id.join() })
                .success(function (server_data) {
                    list_table_row = server_data;
                    count_ajax++;
                })
                .error(function (err) { console.error("Ошибка выгрузка данных ... /Question/getAllTableRow", err) })
        })

        //Выгрузка листа путей файлов для фильтрующего вопроса
        $.get("/Question/GetListFile", { id_p: $('div[name=projectID]').attr('id') })
            .success(function (server_data) {
                $.each(server_data, function (i, item) {
                    list_file[item.QuestionID] = item;
                    //console.info("Path file ---- ", item.PathFile);
                    $.get("/Group/Load", { path: item.PathFile })
                        .success(function (server_file) {
                            list_text_file[item.QuestionID] = server_file;
                        });
                })
            })
            .error(function (err) { console.error("Ошибка выгрузки данных ... /Question/GetListFile", err); })

        //Выгрузка листа групп
        $.get("/Group/GetListALLGoup", { id_p: $('div[name=projectID]').attr('id') })
            .success(function (server_data) {
                $.each(server_data, function (i, item) {
                    var mas_tmp = [];
                    if (item.GroupID > 0)
                        active_group[item.GroupID] = { isActive: false, Questions: [] };
                    if (list_id_question_group[item.GroupID] == null) {
                        mas_tmp.push(item);
                        list_id_question_group[item.GroupID] = mas_tmp;
                    } else {
                        list_id_question_group[item.GroupID].push(item);
                    }
                    if (item.GroupID > 0)
                        list_group[item.QuestionID] = item.GroupID;
                });
            })

        $.get("/Question/GetAllRange", { id_p: $('div[name=projectID]').attr('id') })
            .success(function (server_data) {
                //console.log("Успешна выгрузка диапозонов ===== ", server_data);
                $.each(server_data, function (i, item) {
                    if (list_range[item.BindQuestion] == undefined) {
                        list_range[item.BindQuestion] = [item];
                    } else {
                        list_range[item.BindQuestion].push(item);
                    }

                })
                //console.log("Range massive === ", list_range);
            })

        $.get("/Question/GetQuota", { id_p: $('div[name=projectID]').attr('id') })
            .success(function (server_data) {
                $.each(server_data, function (i, item) {
                    item.IsActive = false;
                    list_quota[i] = item;
                });
                //console.log("Успешна выгрузка квот ==== ", list_quota);
            })

    }

    function TestFunc() {
        if (count_ajax > 8) {
            $('body').unbind();
            $('.PreLoader').hide();
            $('button.all_again').fadeIn("slow");
            $('.PreLoader').hide();
            getStart();
        } else {
            setTimeout(TestFunc, 50);
        }
    }

    let rec = false;

    //Проверка записи
    function CheckRec() {
        if (rec == false) {
            $('.TextStartRec').hide();
            $.post("http://localhost:7777", "StartRecord#");
            rec = true;
        }
    }


    //Ожидание выгрузки данных с сервера
    setTimeout(TestFunc(), 50);

    // Функция тасовки элементов ответов в случайном порядке
    Array.prototype.rand = function () {
        return this.sort(function () { return 0.5 - Math.random(); })
    }

    //Блок отрисовки анкеты
    function getStart() {
        //console.log("base >>>", list_base_answer);
        if (index >= massiv_question_id.length) {
            var RoleId = $("span.RoleID").attr("id");
            if (RoleId != 3) {
                $(".show_result").load("/Form/showResult");
                $.post("http://localhost:7777", "StopRecord#");
            }
            else {
                $(".show_result").load("/Form/showResultCostumer");
                $.post("http://localhost:7777", "StopRecord#");
            }
        } else {
            $('body,html').animate({ scrollTop: 0 }, 500);
            if (index == 1) {
                $.get("/Form/GetServerTime")
                    .success(function (server_time) {
                        if (begin_time == undefined)
                            begin_time = server_time;
                        status = 1;
                    })
                    .error(function () { alert("Error"); })

            }
            if (index == massiv_question_id.length - 1) {
                $.get("/Form/GetServerTime")
                    .success(function (server_time) {
                        if (end_time == undefined)
                            end_time = server_time;
                    })
            }
            if (index == 1) {
                $('button.previous').hide();
            } else if (index > 1) {
                $('button.previous').show();
            }

            id_q = massiv_question_id[index];
            type_q = list_question[id_q].TypeQuestion;
            var is_rotate = list_question[id_q].IsRotate;
            switch (id_q) {
                case 2750:
                    {
                        if (text_other[massiv_question_id.indexOf(2733)] != null && text_other[massiv_question_id.indexOf(2733)] != undefined && text_other[massiv_question_id.indexOf(2733)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2733)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2733)]].AnswerText));
                    }
                    break;
                case 2756:
                    {
                        if (text_other[massiv_question_id.indexOf(27334)] != null && text_other[massiv_question_id.indexOf(2734)] != undefined && text_other[massiv_question_id.indexOf(2734)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2734)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2734)]].AnswerText));
                    }
                    break;
                case 2762:
                    {
                        if (text_other[massiv_question_id.indexOf(2735)] != null && text_other[massiv_question_id.indexOf(2735)] != undefined && text_other[massiv_question_id.indexOf(2735)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2735)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2735)]].AnswerText));
                    }
                    break;
                case 2768:
                    {
                        if (text_other[massiv_question_id.indexOf(2736)] != null && text_other[massiv_question_id.indexOf(2736)] != undefined && text_other[massiv_question_id.indexOf(2736)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2736)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2736)]].AnswerText));
                    }
                    break;
                case 2774:
                    {
                        if (text_other[massiv_question_id.indexOf(2737)] != null && text_other[massiv_question_id.indexOf(2737)] != undefined && text_other[massiv_question_id.indexOf(2737)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2737)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2737)]].AnswerText));
                    }
                    break;
                case 2780:
                    {
                        if (text_other[massiv_question_id.indexOf(2738)] != null && text_other[massiv_question_id.indexOf(2738)] != undefined && text_other[massiv_question_id.indexOf(2738)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2738)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2738)]].AnswerText));
                    }
                    break;
                case 2815:
                    {
                        if (text_other[massiv_question_id.indexOf(2813)] != null && text_other[massiv_question_id.indexOf(2813)] != undefined && text_other[massiv_question_id.indexOf(2813)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2813)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2813)]].AnswerText));
                    }
                    break;
                case 2822:
                    {
                        if (text_other[massiv_question_id.indexOf(2820)] != null && text_other[massiv_question_id.indexOf(2820)] != undefined && text_other[massiv_question_id.indexOf(2820)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2820)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2820)]].AnswerText));
                    }
                    break;
                case 2830:
                    {
                        if (text_other[massiv_question_id.indexOf(2828)] != null && text_other[massiv_question_id.indexOf(2828)] != undefined && text_other[massiv_question_id.indexOf(2828)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2828)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2828)]].AnswerText));
                    }
                    break;
                case 2837:
                    {
                        if (text_other[massiv_question_id.indexOf(2835)] != null && text_other[massiv_question_id.indexOf(2835)] != undefined && text_other[massiv_question_id.indexOf(2835)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2835)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2835)]].AnswerText));
                    }
                    break;
                case 2936:
                    {
                        if (text_other[massiv_question_id.indexOf(2934)] != null && text_other[massiv_question_id.indexOf(2934)] != undefined && text_other[massiv_question_id.indexOf(2934)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2934)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2934)]].AnswerText));
                    }
                    break;
                case 2948:
                    {
                        if (text_other[massiv_question_id.indexOf(2946)] != null && text_other[massiv_question_id.indexOf(2946)] != undefined && text_other[massiv_question_id.indexOf(2946)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2946)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2946)]].AnswerText));
                    }
                    break;
                case 2960:
                    {
                        if (text_other[massiv_question_id.indexOf(2958)] != null && text_other[massiv_question_id.indexOf(2958)] != undefined && text_other[massiv_question_id.indexOf(2958)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2958)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2958)]].AnswerText));
                    }
                    break;
                case 2972:
                    {
                        if (text_other[massiv_question_id.indexOf(2970)] != null && text_other[massiv_question_id.indexOf(2970)] != undefined && text_other[massiv_question_id.indexOf(2970)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2970)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2970)]].AnswerText));
                    }
                    break;
                case 2984:
                    {
                        if (text_other[massiv_question_id.indexOf(2982)] != null && text_other[massiv_question_id.indexOf(2982)] != undefined && text_other[massiv_question_id.indexOf(2982)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2982)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2982)]].AnswerText));
                    }
                    break;
                case 2996:
                    {
                        if (text_other[massiv_question_id.indexOf(2994)] != null && text_other[massiv_question_id.indexOf(2994)] != undefined && text_other[massiv_question_id.indexOf(2994)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(2994)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(2994)]].AnswerText));
                    }
                    break;
                case 3008:
                    {
                        if (text_other[massiv_question_id.indexOf(3006)] != null && text_other[massiv_question_id.indexOf(3006)] != undefined && text_other[massiv_question_id.indexOf(3006)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(3006)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(3006)]].AnswerText));
                    }
                    break;
                case 3020:
                    {
                        if (text_other[massiv_question_id.indexOf(3018)] != null && text_other[massiv_question_id.indexOf(3018)] != undefined && text_other[massiv_question_id.indexOf(3018)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(3018)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(3018)]].AnswerText));
                    }
                    break;
                case 3032:
                    {
                        if (text_other[massiv_question_id.indexOf(3030)] != null && text_other[massiv_question_id.indexOf(3030)] != undefined && text_other[massiv_question_id.indexOf(3030)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(3030)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(3030)]].AnswerText));
                    }
                    break;
                case 3044:
                    {
                        if (text_other[massiv_question_id.indexOf(3042)] != null && text_other[massiv_question_id.indexOf(3042)] != undefined && text_other[massiv_question_id.indexOf(3042)] != 'null')
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", text_other[massiv_question_id.indexOf(3042)]))
                        else
                            $('.view_form').html(list_question[id_q].TextQuestion.replace("###", list_answer[result[massiv_question_id.indexOf(3042)]].AnswerText));
                    }
                    break;
                default:
                    $('.view_form').html(list_question[id_q].TextQuestion);
                    break;
            }
            //$('.view_form').html(list_question[id_q].TextQuestion.replace("###","ДОМ"));
            $('.answer_table').empty();
            switch (type_q) {
                // Прорисовка ответос Single
                case 1:
                    {
                        var skip = false;
                        if (CheckCountAnswer(id_q) > 25 && result[massiv_question_id[index]] == undefined) ShowListSearchAnswer();
                        else {
                            var array_answer = [];
                            var array_base_anwer = [];
                            $.each(list_id_answer_all, function (i, item) {
                                if (item.QuestionID == id_q) {
                                    if (item.AnswerType == 1)
                                        array_answer.push(item);
                                    else
                                        array_base_anwer.push(item);
                                }
                            });
                            if (is_rotate) { array_answer.rand(); } // Осуществляет перетасовку ответов в случайном порядке
                            array_answer = array_answer.concat(array_base_anwer);
                            $.each(array_answer, function (i, item) {
                                if (item.QuestionID == id_q) {
                                    skip = Check_blocks(item);
                                    if (skip) { skip = false; return; }
                                    if (item.AnswerType == 1) {
                                        if (list_answer[item.AnswerKey].isFreeArea) {
                                            $('.answer_table').append('<tr class="tool_layer"><td><input type="radio" name="group" id="' + item.AnswerKey + '"> <label for="' + item.AnswerKey + '"><span></span></label>' + list_answer[item.AnswerKey].AnswerText + '<input type="checkbox" class="is_free_area" hidden checked/></td></tr>')
                                        } else {
                                            $('.answer_table').append('<tr class="tool_layer"><td><input type="radio" name="group" id="' + item.AnswerKey + '"> <label for="' + item.AnswerKey + '"><span></span></label>' + list_answer[item.AnswerKey].AnswerText + '<input type="checkbox" class="is_free_area" hidden/></td></tr>')
                                        }
                                    }
                                    else
                                        $('.answer_table').append('<tr class="tool_layer base_answer"><td><input type="radio" name="group" id="' + list_base_answer[item.AnswerKey].BaseIndex + '"> <label for="' + list_base_answer[item.AnswerKey].BaseIndex + '"><span></span></label><span class="no_speck">(НЕ ЗАЧИТЫВАТЬ)</span> ' + list_base_answer[item.AnswerKey].AnswerText + '</td></tr>')
                                }
                            })
                        }
                        FindAnswer();
                    }
                    break;
                // Прорисовка ответов Multi
                case 2:
                    {
                        var skip = false;
                        var array_answer = [];
                        var array_base_anwer = [];
                        $.each(list_id_answer_all, function (i, item) {
                            if (item.QuestionID == id_q) {
                                if (item.AnswerType == 1) {
                                    if (!(list_answer[item.AnswerKey].AnswerText.toLowerCase() == "другое")) {
                                        array_answer.push(item);
                                    } else {
                                        array_base_anwer.push(item);
                                    }
                                }
                                else
                                    array_base_anwer.push(item);
                            }
                        });
                        if (is_rotate) {
                            array_answer.rand();
                        } // Осуществляет перетасовку ответов в случайном порядке
                        array_answer = array_answer.concat(array_base_anwer);
                        $.each(array_answer, function (i, item) {
                            if (item.QuestionID == id_q) {
                                skip = Check_blocks(item);
                                if (skip) { skip = false; return; }
                                if (item.AnswerType == 1) {
                                    if (list_answer[item.AnswerKey].isFreeArea) {
                                        $('.answer_table').append('<tr class="tool_layer"><td><input type="checkbox" name="group" id="' + item.AnswerKey + '" hidden><label class="mul" for="' + item.AnswerKey + '"></label> ' + list_answer[item.AnswerKey].AnswerText + '<input type="checkbox" class="is_free_area" hidden checked/></td></tr>')
                                    } else {
                                        $('.answer_table').append('<tr class="tool_layer"><td><input type="checkbox" name="group" id="' + item.AnswerKey + '" hidden><label class="mul" for="' + item.AnswerKey + '"></label> ' + list_answer[item.AnswerKey].AnswerText + '<input type="checkbox" class="is_free_area" hidden/></td></tr>')
                                    }
                                }
                                else
                                    $('.answer_table').append('<tr class="tool_layer base_answer"><td><input type="checkbox" name="group" id="' + list_base_answer[item.AnswerKey].BaseIndex + '" hidden> <label class="mul" for="' + list_base_answer[item.AnswerKey].BaseIndex + '"><span></span></label><span class="no_speck">(НЕ ЗАЧИТЫВАТЬ)</span> ' + list_base_answer[item.AnswerKey].AnswerText + '</td></tr>')
                            }
                        })
                        FindAnswer();
                    }
                    break;
                case 3:
                    $.each(list_id_answer_all, function (i, item) {
                        if (item.QuestionID == id_q) {
                            if (item.AnswerType == 1) {
                                $('.answer_table').append('<tr class="tool_layer"><td>' + list_answer[item.AnswerKey].AnswerText + '<input type="text" class="free_text" name="group" id="' + item.AnswerKey + '" /></td></tr>')
                            } else {
                                $('.answer_table').append('<tr class="tool_layer"><td><input type="radio" name="group" id="' + item.AnswerKey + '"> ' + list_base_answer[item.AnswerKey].AnswerText + '</td></tr>')
                            }
                        }
                    });
                    var id_massk = list_question[massiv_question_id[index]].TypeMassk;
                    if (id_massk > 0) {
                        BindMassk(id_massk);
                    }
                    if (back_id_question.indexOf(id_q) != -1) {
                        $('input.free_text').mask("99:99").on('click', function () {
                            if ($(this).val() === '__:__') {
                                $(this).get(0).setSelectionRange(0, 0);
                            }
                        });
                    }
                    FindAnswer();
                    break;
                case 4:
                    {
                        var skip = false;
                        var tmp_table_row = {};
                        var count_table_row = 1;
                        var count_table_colum = 1;
                        var count_res_row = 0;
                        var code = '';
                        code += '<tr class="table_answer beginer"><td class="table_answer"> </td>'
                        $.each(list_id_answer_all, function (i, item) {
                            if (item.QuestionID == id_q) {
                                code += '<td  class="table_answer" id="' + count_table_colum + '" name="' + item.AnswerKey + '">' + list_answer[item.AnswerKey].AnswerText + '</td>';
                                count_table_colum++;
                            }
                        })
                        code += '</tr>';
                        var array_row = [];
                        $.each(list_table_row, function (i, item) {
                            if (item.TableID == id_q) {
                                array_row.push(item);
                            }
                        });
                        if (is_rotate) { array_row.rand(); } // Осуществляет перетасовку ответов в случайном порядке
                        console.log("Rows ---> ", array_row);
                        
                        $.each(array_row, function (i, item) {
                            if (item.TableID == id_q) {
                                if (list_question[massiv_question_id[index]].Bind != null) {
                                    if (list_question[list_question[massiv_question_id[index]].Bind].TypeQuestion == 6) {
                                        if (item.IndexRow != null && item.IndexRow != result[massiv_question_id.indexOf(list_question[massiv_question_id[index]].Bind)]) {
                                            return;
                                        }
                                    } else if (item.IndexRow != null && (item.IndexRow != list_answer[result[Number(massiv_question_id.indexOf(list_question[massiv_question_id[index]].Bind))]].Index && item.IndexRow != 0))
                                        return;
                                }
                                skip = Check_blocks_Row(item);
                                if (skip) { skip = false; return; }
                                

                                code += '<tr class="table_answer" id="' + count_table_row + '"><td class="table_answer" id="' + item.Id + '">' + item.TableRowText + '</td>';
                                for (var c = 1; c < count_table_colum; c++) {
                                    if (id_q == 3092 && c == 2) {
                                        code += '<td class="table_answer tool_layer" style="background-color:#FFF;"><input type="radio" name="group' + count_table_row + '" id="' + c + '" ><label for="' + c + '"><span></span></label><input type="text" name="text_of_sum"/></td>';
                                    } else {
                                        code += '<td class="table_answer tool_layer" style="background-color:#FFF;"><input type="radio" name="group' + count_table_row + '" id="' + c + '"><label for="' + c + '"><span></span></label></td>';
                                    }
                                }
                                code += '</tr>';
                                count_table_row++;
                            }
                        })
                        $('.answer_table').append(code);
                        FindAnswer();
                    }
                    break;
                case 5:
                    break;
                case 6:
                    var availableTags = [];
                    var tmp_massive = {};
                    $.each(list_text_file[massiv_question_id[index]], function (i, item) {
                        var tmp_str = item.split('#');
                        availableTags.push(tmp_str[0]);
                        tmp_massive[tmp_str[0]] = tmp_str[1];
                    })

                    var code = '';
                    code += '<select data-placeholder="Choose a Country..." class="chosen-select-new">';
                    code += '<option value="">Выберите вариант ответа.</option>';
                    $.each(availableTags, function (i, item) {
                        code += '<option value="' + tmp_massive[item] + '">' + item + '</option>';
                    })
                    code += '</select>'
                    $('.answer_table').append(code);
                    $('.chosen-select-new').chosen();
                    $('.chosen-select-new').change(function () {
                        $('span.uik').remove();
                        code = '<span class="uik">' + $(this).find('option:checked').val() + '</span>';
                        $('.answer_table').append(code);
                    })
                    break;
                default:
                    break;
            }
        }
    }

    //Проверка активности группы при проходе вперед
    function CheckGroup() {
        if (list_group[massiv_question_id[index]] != null) {
            var number_group = list_group[massiv_question_id[index]];
            if (active_group[number_group].isActive == false) {
                var length_group = list_id_question_group[number_group].length;
                for (var i = index; i < index + length_group; i++) {
                    result[i] = -404;
                    text_other[i] = ['null'];
                }
                index += length_group;
                CheckGroup();
            } else {

            }
        }
    }

    //Проверка активности группы при возврате назад
    function CheckGroup_Back() {
        if (list_group[massiv_question_id[index]] != null) {
            var number_group = list_group[massiv_question_id[index]];
            if (active_group[number_group].isActive == false) {
                var length_group = list_id_question_group[number_group].length;

                index -= length_group;
                CheckGroup_Back();
            } else {

            }
        }
    }

    $('#Tables').on("click", ".NotCheckedTableItem", function () {
        $('input[name=' + $(this).find('input[name^=group]').attr('name') + ']').parent().removeClass('NotCheckedTableItem');
    })

    //Осуществление шага вперед по анкете
    $(".next").click(function () {
        switch (type_q) {
            case 1:
                if ($("input[name=group]:radio:checked").length == 0) {
                    $('div.wrong_choise').fadeIn('slow');
                }
                else {
                    $('div.wrong_choise').fadeOut('fast');
                    if ($('textarea.text_free_area').length > 0 && $('textarea.text_free_area').is(":visible")) {
                        if ($('textarea.text_free_area').val() == "") {
                            $('textarea.text_free_area').animate({
                                backgroundColor: 'red'
                            }, 500).animate({ backgroundColor: 'white' }, 500);
                            break;
                        }
                    }
                    SaveResult();
                    CheckQuota();
                    CheckGroupGo();
                    checkTransitionGo();
                    if (id_q == 3106) {
                        console.log("HEREE");
                        if (result[6] == -404) {
                            result[index] = -404;
                            text_other[index] = "null";
                            index++;
                        }
                    }
                    if (id_q == 2733 || id_q == 2734 || id_q == 2735 || id_q == 2736 || id_q == 2737 || id_q == 2738 || id_q == 2813 || id_q == 2820 || id_q == 2828 || id_q == 2835 ||
                        id_q == 2934 || id_q == 2946 || id_q == 2958 || id_q == 2970 || id_q == 2982 || id_q == 2994 || id_q == 3006 || id_q == 3018 || id_q == 3030 || id_q == 3042) {
                        revers_count--;
                        // console.log("Revers ---->", revers_count);
                        if (revers_count == 0) {
                            //  console.log("Prev ->", index);
                            for (var i = index; i < index + (20 - count_cycle); i++) {
                                result[i] = [-404];
                                text_other[i] = ['null'];
                            }
                            index += (20 - count_cycle);
                            revers_count = count_cycle;
                            //  console.log("Present ->", index);
                        }
                    }
                    if (id_q == 2749 || id_q == 2755 || id_q == 2761 || id_q == 2767 || id_q == 2773 || id_q == 2779 || id_q == 2814 || id_q == 2821 || id_q == 2829 || id_q == 2836 || id_q == 2935 ||
                        id_q == 2947 || id_q == 2959 || id_q == 2971 || id_q == 2983 || id_q == 2995 || id_q == 3007 || id_q == 3019 || id_q == 3031 || id_q == 3043) {
                        revers_count--;
                        // console.log("Revers ---->", revers_count);
                        if (revers_count == 0) {
                            //     console.log("Prev ->", index);
                            for (var i = index; i < index + (20 - count_cycle); i++) {
                                result[i] = [-404];
                                text_other[i] = ['null'];
                            }
                            index += (20 - count_cycle);
                            revers_count = count_cycle;
                            //     console.log("Present ->", index);
                        }
                    }

                    // console.log("REsult massive  ----> ", result);
                    CheckGroup();
                    getStart();
                    //    goNext();
                }
                break;
            case 2: {
                console.log("Vulti8 question");
                if ($("input[name=group]:checkbox:checked").length == 0) {
                    $('div.wrong_choise').fadeIn('slow');
                    $('div.limit_checked_div').remove();
                }
                else {
                    $('div.wrong_choise').fadeOut('fast');
                    $('div.limit_checked_div').remove();
                    if ($('textarea.text_free_area').length > 0 && $('textarea.text_free_area').is(":visible")) {
                        if ($('textarea.text_free_area').val() == "") {
                            $('textarea.text_free_area').animate({
                                backgroundColor: 'red'
                            }, 500).animate({ backgroundColor: 'white' }, 500);
                            break;
                        }
                    }
                    SaveResult();
                    if (id_q == 3111) {
                        if (result[index].indexOf("11233") == -1 & result[index].indexOf("11234") == -1) {
                            index++;
                            result[index] = -404;
                            text_other[index] = "null";
                        }
                    }
                    CheckGroupGo();
                    index++;
                    CheckGroup();
                    getStart();
                }
            }
                break;
            case 3:
                console.log("Text -> ", $("input:text").val());
                if ($("input:text").val().length == 0) {
                    $('div.wrong_choise').fadeIn('slow');
                    //             $('div.limit_checked_div').remove();
                }
                else {
                    $('div.wrong_choise').fadeOut('fast');
                    SaveResult();
                    CheckQuota();
                    index++;
                    if (id_q == 2754 || id_q == 2760 || id_q == 2766 || id_q == 2772 || id_q == 2778 || id_q == 2784 || id_q == 2819 || id_q == 2827 || id_q == 2834 || id_q == 2841 || id_q == 2945 ||
                        id_q == 2957 || id_q == 2969 || id_q == 2981 || id_q == 2993 || id_q == 3005 || id_q == 3017 || id_q == 3028 || id_q == 3041) {
                        revers_count--;
                        console.log("Revers ---->", revers_count);
                        if (revers_count == 0) {
                            console.log("Prev ->", index);
                            for (var i = index; i < index + (10 * 20 - 10 * count_cycle); i++) {
                                result[i] = [-404];
                                text_other[i] = ['null'];
                            }
                            index += (10 * 20 - 10 * count_cycle);
                            console.log("Index -->", index);
                            revers_count = count_cycle;
                            console.log("Present ->", index);
                        }
                    }
                    console.log("Index ----- ", massiv_question_id.indexOf(2785))
                    CheckGroup();
                    getStart();
                }
                break;
            case 4:
                var count_row = $('tr.table_answer:not(:hidden)').length - 1;
                if ($('input[name^=group]:checked').length == count_row) {

                    $('div.wrong_choise').fadeOut('fast');
                    SaveResult();
                    //проверка таблицы
                    if (id_q == 3088) {
                        console.log("here1 3088")
                        let count_id_answer = 0;
                        for (let ind = 0; ind < result[index].length; ind++) {
                            if (result[index][ind] == "11139") count_id_answer++;
                        }
                        if (count_id_answer == result[index].length) {
                            console.log("here2 3088");

                            for (let ind = index + 1; ind <= index + 5; ind++) {
                                result[ind] = -404;
                                text_other[ind] = "null";
                            }
                            index += 4;
                        }
                        console.log("RESULT 3088--->", result);
                    }

                    if (id_q == 3089) {
                        console.log("here1 3089")
                        let count_id_answer = 0;
                        for (let ind = 0; ind < result[index].length; ind++) {
                            if (result[index][ind] == "11149") count_id_answer++;
                        }
                        if (count_id_answer == result[index].length) {
                            console.log("here2 3089");

                            for (let ind = index + 1; ind <= index + 3; ind++) {
                                result[ind] = -404;
                                text_other[ind] = "null";
                            }
                            index += 2;
                        }
                        console.log("RESULT 3088--->", result);
                    }
                    console.log("Result --> ", result[index]);
                    CheckGroupGo();
                    index++;
                    if (id_q == 3088 || id_q == 3089 || id_q == 3092) index++;
                    CheckGroup();
                    getStart();
                } else {
                    $('div.wrong_choise').fadeIn('slow');
                    //             $('div.limit_checked_div').remove();
                    $('tr.table_answer').each(function () {
                        if ($(this).find('input[name^=group]:checked').length < 1) {
                            $('input[name=group' + $(this).attr('id') + ']').parent().addClass('NotCheckedTableItem');
                        }
                    })
                    $('body,html').animate({ scrollTop: $('.NotCheckedTableItem:first').offset().top - $('.NotCheckedTableItem:first').height() }, 1000);
                }
                break;
            case 5:
                SaveResult();
                index++;
                CheckGroup();
                getStart();
                break;
            case 6:
                if ($('span.uik').text() == "") {
                    $('div.wrong_choise').fadeIn('slow');
                } else {
                    $('div.wrong_choise').fadeOut('fast');
                    SaveResult();
                    index++;
                    getStart();
                }
                break;
            default:
                break;
        }
        
    });

   

    //Сохранении выбранного ответа в массиве result
    function SaveResult() {
        var mas = [];
        switch (type_q) {
            case 1:

                id_a = $("input:radio:checked").attr('id');
                if ($("input:radio:checked").hasClass("base_answer")) {
                    result[index] = [$("input:radio:checked").parent().parent().attr('id')];
                } else {
                    result[index] = [id_a];
                }
                if ($("input:radio:checked").parent().find('input.is_free_area').prop('checked')) {
                    text_other[index] = [$("input:radio:checked").parent().find('textarea.text_free_area').val()];
                } else {
                    text_other[index] = ['null'];
                }
                if (id_q == 2731) {
                    count_cycle = Number(text_other[index]);
                    revers_count = Number(text_other[index]);
                    console.log("Count ---->", count_cycle);
                    console.log("Count ---->", revers_count);
                }

                break;
            case 2:
                var text_mass = '';
                $.each($("input[name=group]:checkbox:checked"), function () {
                    if ($(this).hasClass('base_answer'))
                        mas.push($(this).parent().parent().attr('id'));
                    else
                        mas.push($(this).attr('id'));
                    if ($(this).parent().find('input.is_free_area').prop('checked')) {
                        text_mass += $(this).attr('id') + '#' + $(this).parent().find('textarea.text_free_area').val() + ',';
                    }
                });
                result[index] = mas;
                if (text_mass != '') {
                    text_other[index] = [text_mass.substr(0, text_mass.length - 1)];
                } else {
                    text_other[index] = ['null'];
                }
                
                console.log("MAss ---> ", result[index]);
                break;
            case 3:
                $('input.free_text').each(function () {
                    mas.push($(this).attr('id') + "#" + $(this).val().replace(/[,]/g, ';'));
                });
                result[index] = mas;
                text_other[index] = ['null'];
                break;
            case 4:
                let count_row_m = 1;
                let multi = [];
                let multi_text = ""; 
                $('tr.table_answer').each(function () {
                    var id;
                    var id_row;
                    if ($(this).find('input:radio:checked').attr('id') != undefined) {
                        id_row = $(this).find('td.table_answer').attr("id");
                        id = $(this).find('input:radio:checked').attr('id');
                        mas.push($('tr.beginer').find('td[id=' + id + ']').attr('name'));
                    }
                    if (id_q == 3088) {
                        //for (var ind = 0; ind < multi; ind++) {
                        if (id != 1) {
                            if (id_row == 1648) multi.push("11269");
                            if (id_row == 1649) multi.push("11270");
                            if (id_row == 1650) multi.push("11271");
                            if (id_row == 1651) multi.push("11272");
                            if (id_row == 1652) multi.push("11273");
                            if (id_row == 1653) multi.push("11274");
                            if (id_row == 1654) multi.push("11275");
                            if (id_row == 1655) multi.push("11276");
                            if (id_row == 1656) multi.push("11277");
                            if (id_row == 1657) multi.push("11278");
                            if (id_row == 1658) multi.push("11279");
                            if (id_row == 1659) multi.push("11280");
                            if (id_row == 1660) multi.push("11281");
                            if (id_row == 1661) multi.push("11282");
                            if (id_row == 1662) multi.push("11283");
                            if (id_row == 1663) multi.push("11284");
                            }
                        //}
                    }
                    if (id_q == 3089) {
                        if (id != 5) {
                            if (id_row == 1664) multi.push("11285");
                            if (id_row == 1665) multi.push("11286");
                            if (id_row == 1666) multi.push("11287");
                            if (id_row == 1667) multi.push("11288");
                            if (id_row == 1668) multi.push("11289");
                            if (id_row == 1669) multi.push("11290");
                            if (id_row == 1670) multi.push("11291");
                            if (id_row == 1671) multi.push("11292");
                            if (id_row == 1672) multi.push("11293");
                            if (id_row == 1673) multi.push("11294");
                            if (id_row == 1674) multi.push("11295");
                            if (id_row == 1675) multi.push("11296");
                            if (id_row == 1676) multi.push("11297");
                            if (id_row == 1677) multi.push("11298");
                            if (id_row == 1678) multi.push("11299");
                            if (id_row == 1679) multi.push("11300");
                        }
                    }
                    if (id_q == 3092) {
                        
                        if (id_row == 1680) {
                            multi.push("11301");
                            if (id == 2) multi_text += "11301#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1681) {
                            multi.push("11302");
                            if (id == 2) multi_text += "11302#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1682) {
                            multi.push("11303");
                            if (id == 2) multi_text += "11303#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1683) {
                            multi.push("11304");
                            if (id == 2) multi_text += "11304#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1684) {
                            multi.push("11305");
                            if (id == 2) multi_text += "11305#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1685) {
                            multi.push("11306");
                            if (id == 2) multi_text += "11306#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1686) {
                            multi.push("11307");
                            if (id == 2) multi_text += "11307#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1687) {
                            multi.push("11308");
                            if (id == 2) multi_text += "11308#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1688) {
                            multi.push("11309");
                            if (id == 2) multi_text += "11309#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1689) {
                            multi.push("11310");
                            if (id == 2) multi_text += "11310#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1690) {
                            multi.push("11311");
                            if (id == 2) multi_text += "11311#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1691) {
                            multi.push("11312");
                            if (id == 2) multi_text += "11312#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1692) {
                            multi.push("11313");
                            if (id == 2) multi_text += "11313#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1693) {
                            multi.push("11314");
                            if (id == 2) multi_text += "11314#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1694) {
                            multi.push("11315");
                            if (id == 2) multi_text += "11315#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        if (id_row == 1695) {
                            multi.push("11316");
                            if (id == 2) multi_text += "11316#" + $(this).find('input[name=text_of_sum]').val() + ",";
                        }
                        
                    }
                });
               
                result[index] = mas;
                text_other[index] = ['null'];
                if (id_q == 3101) {
                    let count_q_3101 = 0;
                    for (var ind = 0; ind < mas.length; ind++) {
                        if (mas[ind] == 11188 || mas[ind] == 4) count_q_3101++;
                    }
                    if (count_q_3101 == 3) {
                        index++;
                        result[index] = [-404];
                        text_other[index] = ['null'];
                    }
                }
                

                if (id_q == 3088 && multi.length != 0) {
                    result[index + 1] = multi;
                    text_other[index + 1] = ['null'];
                }
                if (id_q == 3089 && multi.length != 0) {
                    result[index + 1] = multi;
                    text_other[index + 1] = ['null'];
                }
                if (id_q == 3092 && multi.length != 0) {
                    result[index + 1] = multi;
                    text_other[index + 1] = [multi_text.substr(0, multi_text.length - 1)];
                }
                
                console.log("AMSS ---> ", result[index + 1]);
                break;
            case 5:
                result[index] = [-1];
                text_other[index] = ['null'];
                break;
            case 6:
                if (!isNaN($('span.uik').text())) {
                    result[index] = Number($('span.uik').text());
                    text_other[index] = $('select.chosen-select-new option:checked').text();
                } else {
                    result[index] = Number($('select.chosen-select-new option:checked').text());
                    text_other[index] = $('span.uik').text();
                }
                break;
            default:
                break;
        }
        console.log("Switch question --->", id_q);
        console.log("Switch save ----> ", result);
    }

    function TranslitIterarot(id_q, iter_all) {
        let id_base_answer;
        $.each(list_id_answer_all, function (i, item) {
            if (item.QuestionID == id_q) {
                if (item.Id == iter_all) {
                    id_base_answer = item.AnswerKey;
                    return;
                }
            }
        })
        return id_base_answer;
    }

    //Проверка перехода при проходе вперед
    function checkTransitionGo() {
        var code_transition = find_transition_move(id_q, result[index]);
        if (code_transition >= 0) {
            if (Number(result[index]) > 0) {
                if (result[index] == list_transition[code_transition].TriggerAnswer) {
                    var jump_index;
                    list_transition[code_transition].ActiveTransition = true;
                    jump_index = massiv_question_id.indexOf(list_transition[code_transition].toQuestion);
                    for (var i = index + 1; i < jump_index; i++) {
                        result[i] = [-404];
                        text_other[i] = ['null'];
                    }
                    index = jump_index;
                } else {
                    index++;
                }
            } else {
                if (result[index] == list_base_answer[TranslitIterarot(id_q, list_transition[code_transition].TriggerAnswer)].BaseIndex) {
                    var jump_index;
                    list_transition[code_transition].ActiveTransition = true;
                    jump_index = massiv_question_id.indexOf(list_transition[code_transition].toQuestion);
                    for (var i = index+1; i < jump_index; i++) {
                        result[i] = [-404];
                        text_other[i] = ['null'];
                    }
                    index = jump_index;
                } else {
                    index++;
                }
            }
        } else {
            index++;
        }
    }

    //Проверка перехода при возращении назад
    function checkTransitionBack() {
        var code_transition = find_transition_back(massiv_question_id[index]);
        if (code_transition >= 0) {
            index = massiv_question_id.indexOf(list_transition[code_transition].fromQuestion);
            list_transition[code_transition].ActiveTransition = false;
        } else {
            index--;
        }
    }

    //Проверка выбраного ответа на прикрепленность к переходу к группе
    function CheckGroupGo() {
        switch (type_q) {
            case 1:
                if (list_bind_answer_group[result[index]] != null) {
                    var number_group = list_bind_answer_group[result[index]].BindGroup;
                    var mas_tmp = list_question_bind_group[id_q];
                    $.each(mas_tmp, function (i, item) {
                        //active_group[item] = false;
                    })
                    active_group[number_group].isActive = true;
                    active_group[number_group].Questions.push(id_q);
                } else if (list_question_bind_group[id_q] != null) {
                    var mas_tmp = list_question_bind_group[id_q];
                    $.each(mas_tmp, function (i, item) {
                        // active_group[item] = false;
                    })
                }
                console.log("active group->", active_group);
                break;
            case 2: {
                var mas_tmp = result[index];
                var mas_tmp_2 = list_question_bind_group[id_q];
                if (mas_tmp_2 != undefined) {
                    $.each(mas_tmp_2, function (i, item) {
                        //active_group[item].isActive = false;
                    })
                    $.each(mas_tmp, function (i, item) {
                        if (list_bind_answer_group[item] != null) {
                            var number_group = list_bind_answer_group[item].BindGroup;
                            if (active_group[number_group].Questions.indexOf(id_q) == -1) {
                                active_group[number_group].isActive = true;
                                active_group[number_group].Questions.push(id_q);
                            }
                        }
                    })
                }
            }
                console.log("active group->", active_group);
                break;
            case 4: {
                var mas_tmp = result[index];
                var mas_tmp_2 = list_question_bind_group[id_q];
                if (mas_tmp_2 != undefined) {
                    $.each(mas_tmp_2, function (i, item) {
                        active_group[item] = false;
                    });
                    $.each(mas_tmp, function (i, item) {
                        if (list_bind_answer_group[item] != null) {
                            var number_group = list_bind_answer_group[item].BindGroup;
                            active_group[number_group] = true;
                        }
                    });
                }
            }
                break;
            default:
                break;
        }
    }

    //Сброс активных групп при переходе на вопрос связаный с ними
    function ResetGroup() {
        if (list_question_bind_group[massiv_question_id[index]] != null) {
            let id_index = massiv_question_id[index];
            console.log("massive -> ", list_question_bind_group[id_index]);
            let mas_group_quest = list_question_bind_group[id_index]
            for (var i = 0; i < mas_group_quest.length; i++) {
                if (active_group[mas_group_quest[i]].Questions.indexOf(id_index) >= 0) {
                    active_group[mas_group_quest[i]].Questions.pop();
                    if (active_group[mas_group_quest[i]].Questions.length == 0)
                        active_group[mas_group_quest[i]].isActive = false;
                }
            }
            //$.each(list_question_bind_group[massiv_question_id[index]], function (i, item) {
            //   // if (active_group[item].Questions.length)
            //    active_group[item].isActive = false;
            //})

            console.log("Back active group -> ", active_group);
        }
    }

    //Поиск выбранных ответ в массиве result
    function FindAnswer() {
        if (result[index] != null) {
            switch (type_q) {
                case 1:
                    var tmp = $('.answer_table').find('input[id=' + result[index] + ']');
                    tmp.prop('checked', true);
                    if (tmp.parent().find('input.is_free_area').is(':checked')) {
                        tmp.parent().find('input.is_free_area').after('<textarea class="text_free_area"  style="margin-left: 10px; width: 600px; height: 50px; resize: none; display: none"></textarea>');
                        tmp.parent().find('.text_free_area').slideDown(200).text(text_other[index]);
                    }
                    break;
                case 2:
                    var mas_ans = {};
                    var tmp_str = String(text_other[index]).split(',');
                    var is_check_base_answer = false;
                    $.each(tmp_str, function (i, item) {
                        var str = item.split('#');
                        mas_ans[str[0]] = str[1];
                    });
                    $.each(result[index], function (i, item) {
                        var tmp = $('.answer_table').find('input[id=' + item + ']');
                        tmp.prop('checked', true);
                        if (tmp.parent().parent().hasClass('base_answer')) {
                            is_check_base_answer = true;
                            checkedAnswerBase(tmp.parent().parent());
                        } else if (tmp.parent().find('input.is_free_area').is(':checked')) {
                            tmp.parent().find('input.is_free_area').after('<textarea class="text_free_area"  style="margin-left: 10px; width: 600px; height: 50px; resize: none; display: none"></textarea>');
                            tmp.parent().find('.text_free_area').slideDown(200).text(mas_ans[item]);
                        }
                    })
                    if (!is_check_base_answer) CheckLimitAnswer();
                    break;
                case 3:
                    var mas_ans = [];
                    var tmp_str = String(result[index]).split(',');
                    $.each(tmp_str, function (i, item) {
                        var str = item.split('#');
                        mas_ans.push(str);
                    });
                    $.each(mas_ans, function (i, item) {
                        var tmp = $('.answer_table').find('input[id=' + item[0] + ']');
                        tmp.val(item[1]);
                    })
                    break;
                case 4:
                    var massive = result[index];
                    var count = 0;
                    if (id_q != 3092) {
                        for (var i = 1; i <= massive.length; i++) {
                            var id_radio = $('tr.beginer td[name="' + massive[i - 1] + '"').attr('id');
                            $('tr[id="' + i + '"').find('input[id="' + id_radio + '"]').prop('checked', true);
                        }
                    } else {
                        var mas_ans = [];
                        var tmp_str = String(text_other[massiv_question_id.indexOf(3123)]).split(',');
                        $.each(tmp_str, function (i, item) {
                            var str = item.split('#');
                            if (str[1] == "") return;
                            mas_ans.push(str[1]);
                        });
                        mas_ans = mas_ans.reverse();
                        for (var i = 1; i <= massive.length; i++) {
                            var id_radio = $('tr.beginer td[name="' + massive[i - 1] + '"').attr('id');
                            $('tr[id="' + i + '"').find('input[id="' + id_radio + '"]').prop('checked', true);
                            if (id_radio == 2) {
                                $('tr[id="' + i + '"').find('input[name=text_of_sum]').val(mas_ans.pop());
                            }
                        }
                    }
                    break;
                default:
                    break;
            }
        }

    }

    function BindMassk(id_massk) {
        if (id_massk == 1) {
            $.mask.definitions['H'] = '[1-9]';
            $('input.free_text').mask("H9", {
                completed: function () {
                    if (this.val() < 18) {
                        this.val("");
                        $('input.free_text').val("").focus();
                    }
                }
            });
        }
        if (id_massk != 1) {
            $('.answer_table input[name=group]').bind("change keyup input", function () {
                if (this.value.match(RegExp(String(list_massk[id_massk])))) {
                    this.value = this.value.substr(0, this.value.length - 1);
                }
            });
        }
    }

    function CheckCountAnswer(check_id_question) {
        var count = 0;
        $.each(list_id_answer_all, function (i, data) {
            if (data.QuestionID == check_id_question) {
                count++;
            }
        })
        return count;
    }

    function ShowListSearchAnswer() {
        var code = '<input type="type" class="search_answer"/>';
        $('.answer_table').append(code);


        $('input.search_answer').keyup(function () {
            $('.answer_table').find('div.change_answer_table').remove();
            var text_search = $(this).val();
            var change_list = {};
            var data = {};
            $.each(list_answer, function (i, it_data) {
                if (it_data.QuestionID == id_q) {
                    data[it_data.Id] = it_data;
                }
            })
            var count = 0;
            $.each(data, function (i, item) {
                if (String(item.AnswerText).toLowerCase().substr(0, text_search.length) == text_search.toLowerCase()) {
                    change_list[item.Id] = item;
                    count++;
                    change_list['length'] = count;
                }
            });
            if (change_list.length > 0) {
                delete change_list['length'];
                code = '<div class="change_answer_table"><table>';
                $.each(change_list, function (i, item) {
                    if (result[massiv_question_id[index]] == undefined)
                        code += '<tr class="tool_layer"><td><input type="radio" name="group" id ="' + item.Id + '"/><label for="' + item.Id + '"><span></span></label><span>' + item.AnswerText + '</span></td></tr>';
                    else {
                        if (result[massiv_question_id[index]] == item.Id)
                            code += '<tr class="tool_layer"><td><input type="radio" name="group" id ="' + item.Id + '" checked/><label for="' + item.Id + '"><span></span></label><span>' + item.AnswerText + '</span></td></tr>';
                        else
                            code += '<tr class="tool_layer"><td><input type="radio" name="group" id ="' + item.Id + '"/><label for="' + item.Id + '"><span></span></label><span>' + item.AnswerText + '</span></td></tr>';
                    }
                });
                code += '</table></div>';
                $('.answer_table').append(code);
            }
        })

    }

    //Осуществление шага назад по анкете
    $('.previous').click(function () {
        console.log("INDEX HERE ---> ", index);
        if (index > 0) {
            if (type_q == 2) $('div.limit_checked_div').remove();
            if (type_q == 4) {
                var count_row = $('tr.table_answer').length - 1;
                if ($('input[name^=group]:checked').length != count_row) {
                    $('tr.table_answer').each(function () {
                        if ($(this).find('input[name^=group]:checked').length < 1) {
                            $('input[name=group' + $(this).attr('id') + ']').parent().addClass('NotCheckedTableItem');
                        }
                    })
                    $('body,html').animate({ scrollTop: $('.NotCheckedTableItem:first').offset().top - $('.NotCheckedTableItem:first').height() / 2 }, 1000);
                    return;
                }
            }
            $('div.wrong_choise').hide();
            console.log("last index----", index);
            console.log("last question----", id_q);
            SaveResult();
            checkTransitionBack();
            CheckQuotaBack();
            CheckGroup_Back();
            ResetGroup();
            if (id_q == 3093 || id_q == 3092 || id_q == 3089) index--;
            if (back_id_question.indexOf(massiv_question_id[index]) != -1 && revers_count != 0)
                revers_count++;
            while (result[index] == -404) {
                index--;
            }
            console.log("Res ---> ", result);
            console.log("INDEX HERE2  ---> ", index);
            getStart();
        }
    });

    $(document).off("mouseenter", ".tool_layer");
    $(document).on("mouseenter", ".tool_layer", function () {
        if ($(this).find('input[name=group]').is(':disabled')) {
            $(this).css({
                'cursor': 'not-allowed',
                'background-color': 'rgba(200, 0 , 0 , 0.7)'
            })
        } else {
            $(this).css('background-color', '#72afff')
                .css('cursor', 'pointer');
        }
    });
    $(document).off("mouseleave", ".tool_layer");
    $(document).on("mouseleave", ".tool_layer", function () {

        $(this).css('background-color', '#FFF')
            .css('cursor', 'default');
    });

    $('.answer_table').off('click', '.tool_layer');
    $('.answer_table').on('click', '.tool_layer', function () {
        checkedAnswer($(this));
        if (type_q == 2) {
            var is_check_base_answer = true;
            $('.answer_panel').find('tr.base_answer').each(function () {
                if ($(this).find('input').is(":checked")) {
                    is_check_base_answer = false;
                }
            });
            if (is_check_base_answer) CheckLimitAnswer();
        }
        if ($(this).hasClass('base_answer') && !$(this).find('input[name=group]').is(':disabled')) {
            checkedAnswerBase($(this));
        }

    });

    $('.answer_table').on('mouseenter', 'textarea.text_free_area', function () {
        $('.answer_table').off('click', '.tool_layer');
    });
    $('.answer_table').on('mouseleave', 'textarea.text_free_area', function () {
        $('.answer_table').on('click', '.tool_layer', function () {
            checkedAnswer($(this));
            if (type_q == 2) {
                var is_check_base_answer = true;
                $('.answer_panel').find('tr.base_answer').each(function () {
                    if ($(this).find('input').is(":checked")) {
                        is_check_base_answer = false;
                    }
                });
                if (is_check_base_answer) CheckLimitAnswer();
            }
            if ($(this).hasClass('base_answer') && !$(this).find('input[name=group]').is(':disabled')) {
                checkedAnswerBase($(this));
            }
        });
    });

    $('button.all_again').one("click", function () {
        begin_time = undefined;
        end_time = undefined;
        $(this).remove();
        $('#Tables').load('/Form/FormView?id_p=' + $('div[name=projectID]').attr('id'), '', function () { $('div.waiting_screen').remove(); });
        $.post("http://localhost:7777", "StopRecord#");
    })

    //Дополнительные функции
    function Check_blocks(item) {
        var skip = false;
        if (list_blocks[id_q] != null) {
            if (list_blocks[id_q].length >= 1) {
                $.each(list_blocks[id_q], function (i, item_block) {
                    if (item_block.fromQuestion == id_q && item_block.typeBlock == 1) {
                        $.each(result[massiv_question_id.indexOf(Number(item_block.toQuestion))], function (i, item_tmp) {
                            if (Number(item_tmp) <= 1) {
                                skip = false; return;
                            }
                            if (item.AnswerType != 2) {
                                if (list_answer[item.AnswerKey].Index == list_answer[Number(item_tmp)].Index)
                                    skip = true; return;
                            }
                        });
                        if (skip == true) { return false; }
                    }
                    if (item_block.fromQuestion == id_q && item_block.typeBlock == 2) {
                        skip = true;
                        $.each(result[massiv_question_id.indexOf(Number(item_block.toQuestion))], function (i, item_tmp) {
                            if (Number(item_tmp) <= 1) {
                                skip = false; return;
                            }
                            if (item.AnswerType != 2) {
                                if (list_answer[item.AnswerKey].Index == list_answer[Number(item_tmp)].Index)
                                    skip = false; return;
                            }
                            else {
                                skip = false;
                            }
                        });
                    }
                })
            }
        }
        return skip;
    }
    function Check_blocks_Row(item) {
        var skip = false;
        if (list_question[id_q].Bind_Blocks != null) {
            if (list_blocks[id_q][0].fromQuestion == id_q && list_blocks[id_q][0].typeBlock == 1) {
                $.each(result[massiv_question_id.indexOf(list_question[id_q].Bind_Blocks)], function (i, item_tmp) {
                    if (item.AnswerType != 2) {
                        if (item.IndexRow == list_answer[Number(item_tmp)].Index)
                            skip = true; return;
                    }
                });
            }
            if (list_blocks[id_q][0].fromQuestion == id_q && list_blocks[id_q][0].typeBlock == 2) {
                skip = true;
                $.each(result[massiv_question_id.indexOf(list_question[id_q].Bind_Blocks)], function (i, item_tmp) {
                    if (Number(item_tmp) <= 1) {
                        skip = false; return;
                    }
                    if (item.AnswerType != 2) {
                        if (item.IndexRow == list_answer[Number(item_tmp)].Index) {
                            skip = false; return;
                        }
                    }
                    else {
                        skip = false;
                    }
                });
            }
        }
        return skip;
    }

    function checkedAnswer(tmp) {
        if (type_q == 2) {
            if (!tmp.children('td').children('input[name=group]').is(':checked')) {
                if (!tmp.children('td').children('input[name=group]').is(':disabled')) {
                    tmp.children('td').children('input[name=group]').prop('checked', true);
                    if (tmp.find('input.is_free_area').prop('checked')) {
                        if (tmp.find('textarea.text_free_area').length == 0)
                            tmp.children('td').append('<textarea class="text_free_area"  style="margin-left: 10px; width: 600px; height: 50px; resize: none; display: none"></textarea>');
                        tmp.find('textarea.text_free_area').slideDown(100);
                    }
                }
            }
            else {
                tmp.children('td').children('input[name=group]').prop('checked', false);
                tmp.find('textarea.text_free_area').slideUp(200);
            }
        } else if (type_q == 4) {
            tmp.find('input[name^=group]').prop('checked', true);
        } else {
            tmp.children('td').find('input[name=group]').prop('checked', true);
            if (tmp.find('input.is_free_area').prop('checked')) {
                if (tmp.find('textarea.text_free_area').length == 0) {
                    $('.answer_table').find('textarea.text_free_area').remove();
                    tmp.children('td').append('<textarea class="text_free_area"  style="margin-left: 10px; width: 600px; height: 50px; resize: none; display: none"></textarea>');
                }
                $('textarea.text_free_area').slideDown(100);
            } else {
                $('.answer_table').find('textarea.text_free_area').slideUp(200);
            }
        }
    }

    function checkedAnswerBase(tmp) {
        if (type_q == 2) {
            if (tmp.find('input[name=group]').is(':checked')) {
                $('.answer_table input[name=group]').prop('disabled', true).prop('checked', false);
                tmp.find('input[name=group]').prop('disabled', false).prop('checked', true);
                $('textarea.text_free_area').remove();
            } else {
                $('.answer_table input[name=group]').prop('disabled', false);
                tmp.find('input[name=group]').prop('checked', false);
            }
        }
    }

    function find_transition_move(id_question, list_result) {
        for (var i = 0; i < list_transition.length; i++) {
            if (list_transition[i].fromQuestion == id_question) {
                for (var j = 0; j < list_result.length; j++) {
                    if (Number(list_result[j]) < 0) {
                        var is_find = false;
                        var item_find;
                        $.each(list_base_answer, function (index_, item) {
                            if (Number(item.BaseIndex) == Number(list_result[j])) {
                                item_find = item;
                                is_find = true; return;
                            }
                        })
                        let id_base_answer_all = 0;
                        $.each(list_id_answer_all, function (j, _item) {
                            if (_item.QuestionID == id_question && _item.AnswerType == 2) {
                                if (_item.AnswerKey == item_find.Id) {
                                    id_base_answer_all = _item.Id;
                                    return;
                                }
                            }
                        })
                        if (list_transition[i].TriggerAnswer == id_base_answer_all) return i;
                    } else if (list_transition[i].TriggerAnswer == list_result[j]) return i;
                }
            }
        }
        return -1;
    }

    function find_transition_back(id_question) {
        for (var i = 0; i < list_transition.length; i++) {
            if (list_transition[i].toQuestion == id_question && list_transition[i].ActiveTransition == true) return i;
        }
        return -1;
    }

    function CheckLimitAnswer() {
        var limit_count = list_question[id_q].LimitCount;
        if (limit_count > 0 && limit_count != null) {
            if ($('.answer_panel').find('input[name=group]:checked').length == limit_count) {
                $('div.limit_checked_div').remove();
                $('.answer_panel').find('input[name=group]').each(function () {
                    if (!$(this).is(":checked")) {
                        $(this).prop('disabled', true);
                    }
                })
                $('div.wrong_choise').after('<div class="limit_checked_div wrong_choise">Выбрано максимальное количество ответов. Для выбора другого ответа отмените любой из уже выбранных.</div>');
                $('div.limit_checked_div').fadeIn(500);
            } else if ($('.answer_panel').find('input[name=group]:checked').length < limit_count) {
                $('.answer_panel').find('input[name=group]').each(function () {
                    if (!$(this).is(":checked")) {
                        $(this).prop('disabled', false);
                    }
                })
                $('div.limit_checked_div').remove();
            }
        }
    }

    //DELETE???
    function ConnectClick() {
        $('.answer_table').find('.tool_layer').each(function () {
            $(this).click(function () {
                checkedAnswer($(this));
                if (type_q == 2) {
                    var is_check_base_answer = true;
                    $('.answer_panel').find('tr.base_answer').each(function () {
                        if ($(this).find('input').is(":checked")) {
                            is_check_base_answer = false;
                        }
                    });
                    if (is_check_base_answer) CheckLimitAnswer();
                }
                if ($(this).hasClass('base_answer') && !$(this).find('input[name=group]').is(':disabled')) {
                    checkedAnswerBase($(this));
                }
            })
        })
    }

    /*Поиск и проверка квот (Осуществляется только при движении вперед по анкете)
     *Запись цепочек осуществляется в массив massive_string_chain
     */
    function CheckQuota() {
        var is_out = false;
        var item_quota;
        var res;
        if (list_question[id_q].IsKvot == true) {
            massive_quota_id.push(id_q);
            if (list_question[id_q].TypeQuestion == 3) {
                var age = Number(String(result[index]).split('#')[1]);
                $.each(list_range[id_q], function (i, item) {
                    var lower_limit = !isNaN(Number(String(item.RangeString).split('-')[0])) ? Number(String(item.RangeString).split('-')[0]) : -Infinity;
                    var upper_limit = !isNaN(Number(String(item.RangeString).split('-')[1])) ? Number(String(item.RangeString).split('-')[1]) : Infinity;
                    if ((lower_limit <= age) && (age <= upper_limit)) {
                        res = item.Id;
                        return false;
                    }
                })
            } else {
                res = result[index];
            }
            var break_loop = false;
            $.each(list_quota, function (i, item) {
                if (item.ChainString.indexOf(id_q + '/') == 0) {
                    var str_chain = id_q + '/' + res;
                    $.each(list_quota, function (i, item) {
                        if (item.ChainString == str_chain) {
                            item.IsActive = true;
                            break_loop = true;
                            CheckCountQuota(item.Id);
                            return false;
                        }
                    });
                    if (break_loop) {
                        break_loop = false;
                        massive_string_chain.push(str_chain);
                        return false;
                    } else {
                        massive_string_chain.push(str_chain);
                    }
                    return false;
                } else {
                    $.each(massive_string_chain, function (index_chain, item_chain) {
                        var str_chain = item_chain + '#' + id_q + '/' + res;
                        $.each(list_quota, function (i, item) {
                            if (item.ChainString == str_chain) {
                                item.IsActive = true;
                                break_loop = true;
                                CheckCountQuota(item.Id);
                            }
                            if (item.ChainString.indexOf(str_chain) == 0) {
                                massive_string_chain[index_chain] = str_chain;
                                break_loop = true;
                                return false;
                            }
                        });
                        if (break_loop) {
                            break_loop = false;
                            return false;
                        }
                    })
                }

            });
        }
    }

    function CheckQuotaBack() {
        var question_id = massiv_question_id[index];
        var res;
        if (list_question[question_id].IsKvot == true) {
            if (list_question[question_id].TypeQuestion == 3) {
                var age = Number(String(result[index]).split('#')[1]);
                $.each(list_range[question_id], function (i, item) {
                    var lower_limit = !isNaN(Number(String(item.RangeString).split('-')[0])) ? Number(String(item.RangeString).split('-')[0]) : -Infinity;
                    var upper_limit = !isNaN(Number(String(item.RangeString).split('-')[1])) ? Number(String(item.RangeString).split('-')[1]) : Infinity;
                    if ((lower_limit <= age) && (age <= upper_limit)) {
                        res = item.Id;
                        return false;
                    }
                })
            } else {
                res = result[index];
            }
            var str_chain = question_id + "/" + res;
            $.each(massive_string_chain, function (i, item) {
                if (item.indexOf(str_chain) >= 0) {
                    var item_string_chain = item;
                    $.each(list_quota, function (i, item) {
                        if (item.ChainString == item_string_chain) {
                            list_quota[i].IsActive = false;
                        }
                    });
                    if (item.indexOf(str_chain) == 0) {
                        if (i == 0) {
                            massive_string_chain = [];
                        } else {
                            massive_string_chain.splice(i, i);
                        }
                    } else {
                        massive_string_chain[i] = item.substring(0, item.indexOf(str_chain) - 1);
                    }
                }
            })
        }
    }

    //Функция проверки счетчика квот
    function CheckCountQuota(id_quota) {
        $.get("/Question/CheckQuotaCount", { id_quota: id_quota })
            .success(function (server_data) {
                if (server_data.QuotaCount <= 0) {
                    $('.TextLimitQuota').show();
                }
            })
    }

    $('.ButtonAGAIN').one("click", function () {
        begin_time = undefined;
        end_time = undefined;
        //if (device.android())
        $.post("http://localhost:7777", "StopRecord#");
        $('.PreLoader').show();
        $('#Tables').load('/Form/FormView?id_p=' + $('div[name=projectID]').attr('id'));
    })

    $('.NewButton').hover(
        function () {
            $(this).addClass('Scaled');
        },
        function () {
            $(this).removeClass('Scaled');
        }
    )

    $('.NewButton').click(function () {
        begin_time = undefined;
        end_time = undefined;
        //if (device.android())
        $.post("http://localhost:7777", "StopRecord#");
        $(this).parent().remove();
        $('#Tables').load('/Form/FormView?id_p=' + $('div[name=projectID]').attr('id'));
    })
// END
</script>