@model IEnumerable<SocialFORM.Models.Group.GroupModel>
@{
    ViewBag.Title = "Manager";
}

<style>
    div.title {
        padding: 20px;
        border: 2px solid black;
        background-color: #72afff;
        text-align: center;
        font-size: 30px;
        font-family: 'Courier New';
        font-weight: 900;
    }

    .tablenav td {
        background: #57ccff;
        border: 1px solid black;
        height: 50px;
        width: auto;
        padding: 10px
    }

    ul.ul-treefree {
        padding-left: 25px;
    }

        ul.ul-treefree ul {
            margin: 0;
            padding-left: 6px;
        }

        ul.ul-treefree li {
            position: relative;
            list-style: none outside none;
            border-left: solid 1px #999;
            margin: 0;
            padding: 0 0 0 19px;
            line-height: 23px;
        }

            ul.ul-treefree li:before {
                content: '';
                display: block;
                border-bottom: solid 1px #999;
                position: absolute;
                width: 18px;
                height: 11px;
                left: 0;
                top: 0;
            }

            ul.ul-treefree li:last-child {
                border-left: 0 none;
            }

                ul.ul-treefree li:last-child:before {
                    border-left: solid 1px #999;
                }

    ul.ul-dropfree div.drop {
        width: 11px;
        height: 11px;
        position: absolute;
        z-index: 10;
        top: 6px;
        left: -6px;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAIAAAD0nuopAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpinDlzJgNlgAWI09LScEnPmjWLoAImrHpIAkwMFAMqGMGC6X44GzkIsHoQooAFTTVQKdbAwxOigyMsmIh3MC7ASHnqBAgwAD4CGeOiDhXRAAAAAElFTkSuQmCC');
        background-position: -11px 0;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    #modal_form {
        width: 300px;
        height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
        border-radius: 5px;
        border: 3px #000 solid;
        background: #fff;
        position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
        top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
        left: 50%; /* пoлoвинa экрaнa слевa */
        margin-top: -150px;
        margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
        display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
        opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
        z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
        padding: 20px 10px;
    }
        /* Кнoпкa зaкрыть для тех ктo в тaнке) */
        #modal_form #modal_close {
            width: 21px;
            height: 21px;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            display: block;
        }
    /* Пoдлoжкa */
    #overlay {
        z-index: 3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
        position: fixed; /* всегдa перекрывaет весь сaйт */
        background-color: #000; /* чернaя */
        opacity: 0.8; /* нo немнoгo прoзрaчнa */
        -moz-opacity: 0.8; /* фикс прозрачности для старых браузеров */
        filter: alpha(opacity=80);
        width: 100%;
        height: 100%; /* рaзмерoм вo весь экрaн */
        top: 0; /* сверху и слевa 0, oбязaтельные свoйствa! */
        left: 0;
        cursor: pointer;
        display: none; /* в oбычнoм сoстoянии её нет) */
    }

    .emptySpace {
        border: 2px dotted blue;
        width: 100px;
        height: 20px;
    }
    .group_element{
        /*border: 1px solid red;*/
    }
    .HiddenPanelQuota {
        display: none;
        position: fixed;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;
        background-color: white;
        border: 10px inset #72afff;
        z-index: 999;
        overflow:auto;
    }
    .ButtonClose{
        display: none;
        position: fixed;
        width: 30px;
        height: 30px;
        left: calc(90% - 15px);
        top: calc(10% - 15px);
        background-color: red;
        border: 5px outset red;
        border-radius: 15px;
        text-align: center;
        z-index: 1000;
        cursor: pointer;
    }
    .BlockWall{
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: grey;
        opacity: 0.5;
    }
</style>

<div class="title">@ViewBag.ProjectName</div>

<input type="hidden" name="project_id" value="@ViewBag.ProjectID" />
<div>
    <table cellpadding="4" width="100%" height="100%">
        <tr>
            <td colspan="2">
                <div id="panel">
                    <button class="menu_panel" id="add_question">Добавить вопрос</button>
                    <button onclick="AddNewGroup()">Добавить группу</button>
                    <button onclick="DeleteGroup()">Удалить группу</button>
                    <button onclick="ShowQuotaPanel()">Квоты</button>
                    <button onclick="ShowLoopPanel()">Циклы</button>
                    @*<button class="menu_panel">Удалить группу</button>*@
                </div>
            </td>
        </tr>
        <tr style="resize: none;">
            <td width="25%" style="vertical-align: top;">
                <div class="drop">
                    @ViewBag.ProjectName
                 @*/   <ul class="ul-treefree ul-dropfree tree_view">
                  //      @Html.Partial("_TreeList", Model.ToList())
                  //  </ul>*@
                </div>
            </td>
            <td width="75%">
                <div style="min-width: 100%; min-height: 100%; position: relative;" class="editor">

                </div>
            </td>
        </tr>
        <tr>
            <td align="right" colspan="2"></td>
        </tr>
    </table>
</div>

<div id="modal_form">
    <!-- Сaмo oкнo -->
    <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
    <!-- Тут любoе сoдержимoе -->
    <div style="padding: 15px; padding-top: 25px;">
        <span>Выберите группу</span>
        <select class="list_group">
            
            @foreach (var item in Model.Where(u => u.Group != null))
            {
                if (@item.GroupName == null)
                {
                <option value="@item.Group">Группа 0</option>
                }
                else
                {
                <option value="@item.Group">@item.GroupName</option>
                }
            }
        </select>
        <br />
        <button class="add_group">Добавить</button>
    </div>
</div>
<div id="overlay"></div><!-- Пoдлoжкa -->
<div class="ButtonClose" onclick="CloseClick()">&#10006;</div>
<div class="HiddenPanelQuota"></div>
<div class="BlockWall"></div>
@Scripts.Render("~/Scripts/jquery-1.10.2.js")
<script src="~/Scripts/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript">
    var is_loaded = false;
    var list_answer_base;

    

    $('.drop span').mouseenter(function () {
        if ($(this).parent().attr('name') != "checked") {
            $(this).css('background-color', '#aaa');
        }
    });
    $('.drop span').mouseleave(function () {
        if ($(this).parent().attr('name') != 'checked')
            $(this).css('background-color', '#fff');
    });



    $(".ul-dropfree").find("li:has(ul)").prepend('<div class="drop"></div>');
    $(".ul-dropfree div.drop").click(function () {
        if ($(this).nextAll("ul").css('display') == 'none') {
            $(this).nextAll("ul").slideDown(400);
            $(this).css({ 'background-position': "-11px 0" });
        } else {
            $(this).nextAll("ul").slideUp(400);
            $(this).css({ 'background-position': "0 0" });
        }
    });
    $(".ul-dropfree").find("ul").slideUp(400).parents("li").children("div.drop").css({ 'background-position': "0 0" });



    $(document).ready(function () { // вся мaгия пoсле зaгрузки стрaницы
        $('.PreLoader').hide();
        var list_group_block = {};
        var list_div_group = [];
        $.get("/Group/GetListGroup", { id_p: $('input[name=project_id]').val() })
            .success(function (server_data) {
                $.each(server_data, function (i, item) {
                    var mas_tmp = [];

                    if (item.Group == null || item.Group>0) {
                        mas_tmp.push(item);
                        console.info("tmp-mass --->", item);
                        if (list_group_block[item.GroupID] != null) {
                            list_group_block[item.GroupID].push(item);
                        } else {
                            list_group_block[item.GroupID] = mas_tmp;
                        }
                    } 
                        
                })

                var code = '<ul class="ul-treefree ul-dropfree tree_view">'
                $.each(list_group_block[0], function (i, item) {
                    if (item.Group == null) {
                        code += '<li class="question_view quest" id=' + item.QuestionID + '><span>' + item.GroupName + '</span></li>';
                    } else {
                        var index = item.Group;
                        code += '<li class="group" id=' + item.Group + '><span>' + item.GroupName + '</span><ul class="group_element" id=' + item.Group + '>';
                        if (list_group_block[index] != null) {
                            $.each(list_group_block[index], function (i, item) {
                                code += '<li class="question_view quest" id=' + item.QuestionID + '><span>' + item.GroupName + '</span></li>';
                            });
                        }
                        code += '</ul ></li >';
                    }
                });
                code += '</ul>';
                $('div.drop').append(code);
                $('.drop span').mouseenter(function () {
                    if ($(this).parent().attr('name') != "checked") {
                        $(this).css('background-color', '#aaa');
                    }
                });
                $('.drop span').mouseleave(function () {
                    if ($(this).parent().attr('name') != 'checked')
                        $(this).css('background-color', '#fff');
                });
                $(".ul-dropfree").find("li:has(ul)").prepend('<div class="drop"></div>');
                $(".ul-dropfree div.drop").click(function () {
                    if ($(this).nextAll("ul").css('display') == 'none') {
                        $(this).nextAll("ul").slideDown(400);
                        $(this).css({ 'background-position': "-11px 0" });
                    } else {
                        $(this).nextAll("ul").slideUp(400);
                        $(this).css({ 'background-position': "0 0" });
                    }
                });
                
                $('li.quest').bind('click', function () {
                   // $(this).unbind('click');
                    loadEditor($(this));
                });
              //  $(".ul-dropfree").find("ul").slideUp(400).parents("li").children("div.drop").css({ 'background-position': "0 0" });
                $('ul.tree_view').sortable({
                    start: function (event, ui) {
                        $('ul.tree_view').find('ul.group_element').each(function () {

                            if ($(this).text().length == 0) {
                                $(this).append('<li class="tmp_item" style="background-color: grey; width: 100px; height: 20px;"></li>');
                            }
                        })
                    },
                    stop: function (event, ui) {
                        var count = 1;
                        var count_group = 1;
                        var list_id_question = [];
                        $('.tree_view').find('.tmp_item').each(function () { $(this).remove(); })
                        $('ul.tree_view li').each(function () {
                            if ($(this).hasClass('group')) {
                                $(this).find('span').text("Группа " + count_group);
                                count_group++;
                                list_id_question.push(-1*Number($(this).attr('id')))
                            }
                            else {
                                $(this).find('span').text("Вопрос " + count);
                                count++;
                                list_id_question.push(Number($(this).attr('id')));
                            }
                        })
                        var change_item = ui.item;
                        if (ui.item.parent().hasClass('group_element')) {
                            if (ui.item.hasClass('group')) {
                                $('ul.tree_view').sortable("cancel");
                            } else {
                                $.post("/Group/ChangeGroup", { id_q: ui.item.attr('id'), id_g: ui.item.parent().attr('id') });
                            }
                        }
                        console.log("Mass ==== ", list_id_question);
                        $.post("/Group/ChangeIndexQuestion", { new_set: list_id_question, id_p: $('input[name=project_id]').val() });
                    },
                    placeholder: 'emptySpace',
                    delay: 400,
                    connectWith: '.group_element'
                });

                $('li.group ul').sortable({
                    stop: function (event, ui) {
                        var list_id_question = [];
                        if (ui.item.parent().hasClass('group_element')) {
                            $.post("/Group/ChangeGroup", { id_q: ui.item.attr('id'), id_g: ui.item.parent().attr('id') });
                        }
                        if (ui.item.parent().hasClass('tree_view')) {
                            $.post("/Group/ChangeGroup", { id_q: ui.item.attr('id'), id_g: 0 });
                        }
                        changeIndexGroup();
                        if (ui.item.parent().hasClass('tree_view')) {
                            $.post("/Group/ChangeGroup", { id_q: ui.item.attr('id'), id_g: 0 });
                        }
                    },
                    placeholder: 'emptySpace',
                    connectWith: '.tree_view'
                });
                $('ul.tree_view').disableSelection();
                console.info("ListGroup ---->", list_group_block);
            });

        $('#add_question, .save_question').click(function (event) { // лoвим клик пo ссылки с id="go"
            event.preventDefault(); // выключaем стaндaртную рoль элементa
            $('#overlay').fadeIn(400, // снaчaлa плaвнo пoкaзывaем темную пoдлoжку
                function () { // пoсле выпoлнения предъидущей aнимaции
                    $('#modal_form')
                        .css('display', 'block') // убирaем у мoдaльнoгo oкнa display: none;
                        .animate({ opacity: 1, top: '50%' }, 200); // плaвнo прибaвляем прoзрaчнoсть oднoвременнo сo съезжaнием вниз
                });
        });
        /* Зaкрытие мoдaльнoгo oкнa, тут делaем тo же сaмoе нo в oбрaтнoм пoрядке */
        $('#modal_close, #overlay, .add_group').click(function () { // лoвим клик пo крестику или пoдлoжке
            $('#modal_form')
                .animate({ opacity: 0, top: '45%' }, 200,  // плaвнo меняем прoзрaчнoсть нa 0 и oднoвременнo двигaем oкнo вверх
                function () { // пoсле aнимaции
                    $(this).css('display', 'none'); // делaем ему display: none;
                    $('#overlay').fadeOut(400); // скрывaем пoдлoжку
                }
                );
        });
    });

    $(".add_group").click(function () {

        var query = {
            GroupId: $(".list_group").val(),
            ProjectID: @ViewBag.ProjectID
        };

        $.ajax({
            type: "POST",
            url: "/Group/AddGroup",
            data: query,
            ajaxasync: true,
            success: function () {
                changeIndexGroup();
                $("#Tables").load("/Group/Manager?id_project=" + @ViewBag.ProjectID);
            },
            error: function () {

            }
        });

    });
    var countClick = 0;
    //Загрузка экрана редактора вопроса
 /*   $('.drop').on("mouseleave", ".question_view", function () {
        $(this).unbind('click');
    });
    $('.drop').on("mouseenter", ".question_view", function () {
        countClick++;
        $(this).bind('click', function () {
            $(this).unbind('click');
            loadEditor($(this));
        });
    });
    */
    $.get('/Question/getListAnswerBase')
        .success(function (data) {
            list_answer_base = data;
        });

    function loadEditor(tmp) {
        $('.tree_view').find('li[name=checked]').removeAttr('name').find('span').css('background-color', '#fff');
        tmp.find('span').css('background-color', '#72afff');
        tmp.attr('name', 'checked');
        $(".editor").load("/Group/Editor?Id=" + tmp.attr('id'));
    }

    function AddNewGroup() {
        $.post("/Group/AddNewGroup", { id_p: $('input[name=project_id]').val() })
            .success(function () {
                $("#Tables").load("/Group/Manager?id_project=" + @ViewBag.ProjectID);
            });
    }

    function DeleteGroup() {
        var code = '<div class="background_screen" style="position: fixed; top: 0; left:0; width: 100%; height: 100%; background-color: rgba(155,155,155,0.5); z-index:9999; ">';
        code += '<div style="position: relative; width: 10%; height: auto; background: red; top: 50%; left: 50%;">';
        code += '<select class="check_group">'
        $('li.group').each(function () {
            code += '<option value="' + $(this).attr('id') + '">' + $(this).find('span:first').text()+'</option>'
        })
        code += '</select>';
        code += '<button class="delete_group">Delete</button>'
        code += '</div></div>';
        $('body').append(code);

        $('button.delete_group').click(function () {
           // alert("1212");
            var id_group = $('select.check_group option:checked').val();
          //  alert(id_group);
            $.post("/Group/DeleteGroup", { id_group: id_group, id_project: $('input[name=project_id]').val() })
                .success(function () {
                    $('div.background_screen').remove();
                     $("#Tables").load("/Group/Manager?id_project=" + $('input[name=project_id]').val());
                })
        })
    }

    function changeIndexGroup() {
        var count = 1;
        var count_group = 1;
        var list_id_question = [];
        $('ul.tree_view li').each(function () {
            if ($(this).hasClass('group')) {
                $(this).find('span').text("Группа " + count_group);
                count_group++;
                list_id_question.push(-1*Number($(this).attr('id')))
            }
            else {
                $(this).find('span').text("Вопрос " + count);
                count++;
                list_id_question.push(Number($(this).attr('id')))
            }

            

        })
       
        console.log("Mass ==== ", list_id_question);
        if ($('ul.tree_view').text().length != 0) {
            $.post("/Group/ChangeIndexQuestion", { new_set: list_id_question, id_p: $('input[name=project_id]').val() });
        }
    }

    function ShowQuotaPanel() {
        $('.PreLoader').show();
        var id_project = Number($('input[name=project_id]').val());
        $('.BlockWall').show();
        $('.HiddenPanelQuota').fadeIn(500);
        $('.ButtonClose').fadeIn(500);
        $('.HiddenPanelQuota').append('<div class="ForDelete" style="padding: 15px;"></div>')
        setTimeout(function () {
            $('.ForDelete').load("/Home/Kvot?id_p=" + id_project);
        }, 500);
    }

    function CloseClick() {
        $('.HiddenPanelQuota').find('div.ForDelete').remove();
        $('.HiddenPanelQuota').fadeOut(200);
        $('.ButtonClose').fadeOut(200);
        $('.BlockWall').hide();
    }

    function ShowLoopPanel() {
        $('.PreLoader').show();
        var id_project = Number($('input[name=project_id]').val());
        $('.BlockWall').show();
        $('.HiddenPanelQuota').fadeIn(500);
        $('.ButtonClose').fadeIn(500);
        $('.HiddenPanelQuota').append('<div class="ForDelete" style="padding: 15px;"></div>')
        setTimeout(function () {
            $('.ForDelete').load("/Question/Loop?id_p=" + id_project);
        }, 500);
    }
</script>