@{
    ViewBag.Title = "Личный кабинет";
}

<link rel="stylesheet" type="text/css" href="../Content/media/style.css">
<link rel="stylesheet" type="text/css" href="../Content/css/modal.css">



<div class="col-md-3 menu">
    <button class="MinMax" id="max"><img src="~/images/icon/previous.png" style="width:20px; height:20px; margin-left: -13px;" /></button>

    <div class="max">
        @*Большое меню START*@
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <h3>
                        Добро пожаловать :
                    </h3>
                </div>
                <div class="row">
                    <div class="operatorID" name="operatorID" id="@ViewBag.operator_id" style="display: none;">@ViewData["Family"] @ViewData["Name"]</div>
                    <img id="status" src="~/images/icon/status.png" /><p class="name_operator" style="display: inline;">
                        @ViewData["Family"] @ViewData["Name"]
                    </p>
                    <p id="roleUser">
                        <span class="RoleID" name="RoleId " id="@ViewData["RoleID"]" />
                        (@ViewData["Role"])
                    </p>
                </div>
                <div class="row">
                    <p>
                        Инфо. блок
                        @ViewData["test"]
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6" id="timedisplay">

                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Выйти", "Logoff", "Account")
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Меню</h3>
            @Html.Action("Menu", "Home")
        </div>
        @*Большое меню END*@
    </div>
    <div class="min">
        @*малое меню START*@
        <div class="row">
            <div class="col-md-12 tmp">
                <div class="row">
                    @Html.Raw(Html.ActionLink("Выйти", "Logoff", "Account").ToHtmlString().Replace("Выйти", "<img class=\"iconMenu\" src=\"../images/icon/exit.png\" title=\"Выход\" />"))
                </div>
                <div class="row">
                    <p class="name_operator" style="display: inline;"></p>
                    <p class="iconSt">
                        <img class="adm" src="~/images/icon/administrator.png" title="@ViewData["Family"] @ViewData["Name"]" style="width:40px;height:40px" />
                        <img class="sta" id="status" src="~/images/icon/status.png" />
                    </p>
                </div>

            </div>
        </div>
        <div class="row">
            @Html.Action("MenuMin", "Home")
        </div>
    </div>
    @*Малое меню END*@

    <div style="display: none">
        @*<div>*@
        <h1>Audio options</h1>
        <p>
            Convert recorded audio to:<br>
            <select id="encodingTypeSelect">
                <option value="wav">Waveform Audio (.wav)</option>
                <option value="mp3">MP3 (MPEG-1 Audio Layer III) (.mp3)</option>
                <option value="ogg">Ogg Vorbis (.ogg)</option>
            </select>
        </p>
        <div id="controls">
            <button id="recordButton">Record</button>
            <button id="stopButton" disabled>Stop</button>
            <button id="toServer">Server</button>
        </div>
        <div id="formats"></div>
        <h3>Log</h3>
        <pre id="log"></pre>
    </div>
    <div class="row">
        <h3>Аудио</h3>
        <a href="#openModal">Открыть список аудио</a>
        <div id="openModal" class="modalDialog">
            <div>
                <a href="#close" title="Закрыть" class="close">X</a>
                <h2>Список записей</h2>
                <ol id="recordingsList"></ol>
            </div>
        </div>
        <script src="~/Scripts/Audio/WebAudioRecorder.min.js"></script>
        <script src="~/Scripts/Audio/audio-app.js"></script>
    </div>
</div>



<div class="col-md-9 cont">
    <div class="row" id="session"></div>
    <div class="row" id="timea" hidden>@ViewBag.TimeID</div>
    <div class="Chat row">
        <button class="openChat btnLogin" style="border:none;outline:none;background-color:white"><img src="~/images/icon/mess.png" height="20" /></button><span class="blink" name="@ViewData["Role"]"><b>НОВОЕ СООБЩЕНИЕ</b></span>
        <div class="modelChat" style="display:none;position: fixed;z-index:1000;">
            <button class="close" data-dismiss="modal" area-hidden="true" style="margin-top:1%;margin-right:1%;">X</button>
            <div class="main">
                <div id="chatBody">
                    <div id="inputForm">
                        <textarea id="message" maxlength="100" style="width:400px;height:80px;resize:none"></textarea>
                        <input type="button" id="sendmessage" value="Отправить" />
                    </div>
                    <div id="chatroom"></div>
                </div>
                <input id="hdId" type="hidden" />
                <input id="username" type="hidden" />
            </div>
        </div>
        @Scripts.Render("~/Scripts/jquery-1.10.2.js")
        <!--Ссылка на библиотеку SignalR -->
        <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
        <script src="~/Scripts/anime.min.js"></script>
        <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/jquery.HUB.js"></script>
    </div>
    <div id="Tables" class="Tables">

    </div>

</div>

<div id="msg_pop">
    <span class="msg_close" onclick="document.getElementById('msg_pop').style.display='none'; return false;">X</span>
    <div class="msg_pop">

    </div>
</div>

<script src="~/Scripts/ifvisible.js" type="text/javascript"></script>
<script src="~/Scripts/slideout.min.js" type="text/javascript"></script>
<script type="text/javascript">

    var root = window.addEventListener || window.attachEvent ? window : document.addEventListener ? document : null;
    //if (root) {
    //    root.onbeforeunload = function () {
    //        $('.PreLoader').hide();
    //        $.post("/Account/Logofff");
    //        return 'Exit';
    //    }
    //}

    //
    // Стилистика МЕНЮ
    wid_w = $(window).width();
    if (wid_w < 992) {
        $('button.MinMax').attr('id', 'min');
        $('div.max').attr('style', 'display:none');
        $('div.min').attr('style', 'display:normal');
        $('button.MinMax').attr('style', 'display:none');
        $('div.menu').removeClass("col-md-3").addClass("col-md-1");
        $('div.cont').removeClass("col-md-9").addClass("col-md-11");
    } else {
        $('button.MinMax').attr('id', 'max');
        $('div.max').attr('style', 'display:normal');
        $('div.min').attr('style', 'display:none');
        $('button.MinMax').attr('style', 'display:normal');
        $('div.menu').removeClass("col-md-1").addClass("col-md-3");
        $('div.cont').removeClass("col-md-11").addClass("col-md-9");
    }
    $('.MinMax').click(function () {
        if ($('button.MinMax').attr("id") == "max") {
            $('button.MinMax').attr('id', 'min');
            $('div.max').attr('style', 'display:none');
            $('div.min').attr('style', 'display:normal');
            $('button.MinMax').html("<img src=\"../images/icon/next.png\" style=\"width: 20px; height: 20px; margin-left: -13px;\"/>");
            $('div.menu').removeClass("col-md-3").addClass("col-md-1");
            $('div.cont').removeClass("col-md-9").addClass("col-md-11");
        }
        else {
            $('button.MinMax').attr('id', 'max');
            $('div.max').attr('style', 'display:normal');
            $('div.min').attr('style', 'display:none');
            $('div.menu').removeClass("col-md-1").addClass("col-md-3");
            $('div.cont').removeClass("col-md-11").addClass("col-md-9");
            $('button.MinMax').html("<img src=\"../images/icon/previous.png\" style=\"width: 20px; height: 20px; margin-left: -13px;\"/>");
            $('div.menulisst').load("/Home/Menu");
        }
    });
    window.onresize = function () {
        if ($(window).width() < 992) {
            $('button.MinMax').attr('id', 'min');
            $('div.max').attr('style', 'display:none');
            $('div.min').attr('style', 'display:normal');
            $('button.MinMax').attr('style', 'display:none');
            $('div.menu').removeClass("col-md-3").addClass("col-md-1");
            $('div.cont').removeClass("col-md-9").addClass("col-md-11");
        } else {
            if ($('button.MinMax').attr("id") == "max") {
                $('button.MinMax').attr('id', 'max');
                $('div.max').attr('style', 'display:normal');
                $('div.min').attr('style', 'display:none');
                $('div.menu').removeClass("col-md-1").addClass("col-md-3");
                $('div.cont').removeClass("col-md-11").addClass("col-md-9");
                $('button.MinMax').html("<img src=\"../images/icon/previous.png\" style=\"width: 20px; height: 20px; margin-left: -13px;\"/>");
                $('div.menulisst').load("/Home/Menu");
            }
            else {
                $('button.MinMax').attr('id', 'min');
                $('div.max').attr('style', 'display:none');
                $('div.min').attr('style', 'display:normal');
                $('button.MinMax').html("<img src=\"../images/icon/next.png\" style=\"width: 20px; height: 20px; margin-left: -13px;\"/>");
                $('div.menu').removeClass("col-md-3").addClass("col-md-1");
                $('div.cont').removeClass("col-md-9").addClass("col-md-11");
            }
            $('button.MinMax').attr('style', 'display:normal');

        }
    }


    //Чат
    $(function () {
        $.ajaxSetup({ cache: false });
    })
    var str = 'position:fixed;    background-color: #ffff;   border: 2px solid #333;    border-radius: 10px;    padding: 10px;';
    $(".openChat").click(function () {
        $('.modelChat').attr('style', 'display:normal;position: fixed;' + str);
        if ($('#roleUser').text().replace(/\s+/g, '') != '(Admin)') $('#inputForm').hide();
    });
    $(".close").click(function () {
        $('.modelChat').attr('style', 'display:none;position: fixed;');
        $('.blink').hide();
    });

    var slideout = new Slideout({
        'panel': document.getElementById('panelMain'),
        'menu': document.getElementById('panelMenu'),
        'padding': 500,
        'tolerance': 10
    });

    //
    //Блокировка ссылки Личный кабинет
    $(document).ready(function () {
        $('a[href="/Home/_Index"]').css('pointer-events', 'none');
    });
</script>

