@model PagedList.IPagedList<SocialFORM.Models.Project.ProjectModel>
@using PagedList.Mvc;
<link rel="stylesheet" href="~/Content/css/home_project.css" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<style>
    .slow .toggle-group {
        transition: left 0.7s;
        -webkit-transition: left 0.7s;
    }
    .btn {
        padding: 3.5px 12px !important; 
    }
    .toggle.btn {
        min-width: 59px;
        min-height: 30px !important;
    }
</style>

<h2>Список проектов</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>

            <span class="create_project" style="cursor: pointer;">Имя проекта </span><button class="create_project_button">Создать проект</button>
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr class="project_layer">
            <td id="@item.Id">
                <div class="NameProjectDiv" id="@item.Id"> @Html.DisplayFor(modelItem => item.NameProject) </div>
            </td>
            <td style="display: inline-flex;">
                <div class="infoP" id="@item.Id">?</div>
                <div class="ShowDB" id="@item.Id">База данных</div>
                <div style="width:2px;" />
                <div class="SettingExport">
                    <input type="hidden" name="SettingEncodeProject" value="@item.SettingEncode" />
                    <div class="ExportButton" id="@item.Id">&#11015; Экспорт</div>
                    <div class="CheckEncode">&#9776;</div>
                </div>
                <div class="AudioDown_all" id="@item.Id"><img src="../Content/downloads-i.png" width="20" height="20" /></div>
                @Html.ActionLink("Копировать", "Copi", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }) |
                @if (item.ActionProject == true)
                {
                    //<div class="actionProject Action" id="@item.Id">В работе</div>
                    <input id="@item.Id" class="toggle-event" type="checkbox" data-toggle="toggle" data-on="On" data-off="Off" data-height="30" data-style="slow" checked>
                }
                else
                {
                    //<div class="actionProject NonAction" id="@item.Id">Заблокирован</div>
                    <input id="@item.Id" class="toggle-event" type="checkbox" data-toggle="toggle" data-on="On" data-off="Off" data-height="30" data-style="slow">
                }
            </td>
        </tr>
        <tr class="info_project" id="@item.Id" style="display:none">
            <td><button class="infoP_close" id="@item.Id">X</button></td>
            <td class="str_infoP" id="@item.Id"></td>
        </tr>
    }

</table>

<div id="contentPager">
    @Html.PagedListPager(
                                Model,
                                page => Url.Action("_Project", "Home", new { page = page }),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Tables" })
                                             )
</div>

<div class="EncodingString" id="EncodingString">
    <div name="UTF-8"><input type="radio" name="setting" />UTF-8</div>
    <div name="Windows-1251"><input type="radio" name="setting">Windows-1251</div>
</div>

@Scripts.Render("~/Scripts/jquery-1.10.2.js")
<script type="text/javascript">

    $('table.table').on("click", ".AudioDown_all", function () {
        var id_project = $(this).attr('id');
        var name_project = $("div.NameProjectDiv").text();
        var name = AudioID + '_' + AudioName;
        //$.ajax({
        //    url: '/Audio/AudioFind',
        //    type: 'GET',
        //    data: { audio_name: name },
        //    success: function (res) {
        //        if (res == 200) {
        //            window.location.href = '/Audio/AudioDownloads?audio_name=' + name
        //        } else {
        //            alert('Файл не найден!');
        //        }
        //    },
        //    error: function () {
        //        alert('Ошибка запроса файла!');
        //    }
        //});
    })

    $('button.infoP_close').click(function () {
        var id_project = $(this).attr('id');
        $('tr.info_project[id =' + id_project + ']').attr('style', 'display:none');
    });

    $('div.infoP').click(function () {
        var id_project = $(this).attr('id');
        $('tr.info_project[id =' + id_project + ']').attr('style', 'display:normal');
        var code = null;
        $.get('/Home/getInfoProject', { id_project: id_project })
            .success(function (str) {
                if (str != "null") {
                    var tmp_str = str.split("_");
                    $('td.str_infoP[id =' + id_project + ']').empty();
                    code = '<p><b>' + tmp_str[0] + '</b>' + tmp_str[1] + '</p>';
                    code += '<p><b>' + tmp_str[2] + '</b>' + tmp_str[3] + '</p>';
                    $('td.str_infoP[id =' + id_project + ']').append(code);
                }
                else {
                    $('td.str_infoP[id =' + id_project + ']').empty();
                    code = '<p>Список пуст</p>';
                    $('td.str_infoP[id =' + id_project + ']').append(code);
                }
            });
    });

    //$('div.actionProject').click(function () {
    //    var id_project = $(this).attr('id');
    //    $.ajax({
    //        type: "POST",
    //        url: "/Home/actionProject",
    //        async: false,
    //        data: { id: id_project },
    //        success: function () {
    //            $('.Tables').load('/Home/Project');
    //        }
    //    })
    //});

    $('.toggle-event').change(function () {
        var id_project = $(this).attr('id');
        $.ajax({
            type: "POST",
            url: "/Home/actionProject",
            async: false,
            data: { id: id_project }
        })
    })

    $(document).ready(function () {

        $('button.export_result').click(function () {
            document.location.href = "/Home/ExportToEXCEL?id_p=" + $(this).attr('id') + "&name_file=" + $(this).parent().parent().find('td').first().text();
        })

    });

    $('.create_project').click(function () {
        var code = '<input type="text" class="name_project" style="display: none;"/>'
        $(this).after(code);
        $('.create_project_button').fadeOut('slow');
        $('.create_project').fadeOut('slow', function () {
            $('.name_project').fadeIn('slow');
        });
    });
    $('.table').on('keyup', '.name_project', function (event) {
        if (event.keyCode == 13) {
            var name_p;
            name_p = $(this).val();
            $(this).fadeOut('slow').remove();
            $('.create_project').text(name_p).fadeIn('slow').css('margin-right', '15px');
            $('.create_project_button').fadeIn('slow');
        }
    });

    $('.create_project_button').click(function () {
        $.get('/Home/AddProject', { name_project: $('.create_project').text() })
            .success(function (data) {
                var code = '<tr class="project_layer">' +
                    '<td id="' + data.Id + '" >' + $('.create_project').text() +
                    '</td><td>' +
                    '<a href="/Home/Edit?id="' + data.Id + '>Изменить</a>' +
                    '<a href="/Home/Details?id="' + data.Id + '>База данных</a>' +
                    '<a href="/Home/Copi?id="' + data.Id + '>Копировать</a>' +
                    '<a href="/Home/Delete?id="' + data.Id + '>Удалить</a>' +
                    '</td ></tr >';
                $('.table').append(code);
            })
            .error(function () { alert('Не удалось добавить проект') });
    });

    $('.show_blanks').click(function () {
        var id_project = $(this).attr('id');
        $.ajax({
            type: "GET",
            url: "/Home/getResultList",
            async: false,
            data: { id_project: id_project },
            success: function (data) {
                if (data.length != 0) {
                    $('.Tables').load('/Home/TableBlanks?id_project=' + id_project);
                } else {
                    alert("Список пуст");
                }
            }
        })

    });

    $('table.table').on("mouseenter", ".ExportButton", function () {
        $(this).addClass('Scaled');
    })

    $('table.table').on("mouseleave", ".ExportButton", function () {
        $(this).removeClass('Scaled');
    })

    $('table.table').on("mousedown", ".ExportButton", function () {
        $(this).addClass('NotScaled').removeClass('Scaled');
        setTimeout(function () { $('.PreLoader').hide(); }, 1000);
    })

    $('table.table').on("mouseup", ".ExportButton", function () {
        $(this).addClass('Scaled').removeClass('NotScaled');
        var setting = $(this).parent().find('input[name=SettingEncodeProject]').val();
        console.warn(setting);
        document.location.href = "/Home/ExportToEXCEL?id_p=" + $(this).attr('id') + "&name_file=" + $(this).parent().parent().parent().find('td').first().text() + "&encode=" + setting;
        $('.PreLoader').hide();
    })

    $('table.table').on("mouseenter", ".CheckEncode", function () {
        $(this).addClass('Scaled');
    })

    $('table.table').on("mouseleave", ".CheckEncode", function () {
        $(this).removeClass('Scaled');
    })

    $('table.table').on("mouseenter", ".NameProjectDiv", function () {
        $(this).addClass('Scaled');
    })

    $('table.table').on("mouseleave", ".NameProjectDiv", function () {
        $(this).removeClass('Scaled');
    })

    $('table.table').on("click", ".NameProjectDiv", function () {
        $(this).removeClass('Scaled').addClass('NotScaled');
        var id = $(this).attr('id');
        $('.PreLoader').show();
        $("#Tables").load("/Group/Manager?id_project=" + id);
    })

    $('table.table').on("mouseenter", ".ShowDB", function () {
        $(this).addClass('Scaled');
    })

    $('table.table').on("mouseleave", ".ShowDB", function () {
        $(this).removeClass('Scaled');
    })

    $('table.table').on("mousedown", ".ShowDB", function () {
        $('.PreLoader').show();
        $(this).removeClass('Scaled').addClass('NotScaled');
        var id_project = $(this).attr('id');
        $.ajax({
            type: "GET",
            url: "/Home/getResultList",
            async: false,
            data: { id_project: id_project },
            success: function (data) {
                if (data.length != 0) {
                    $('.Tables').load('/Home/TableBlanks?id_project=' + id_project);
                } else {
                    alert("Список пуст");
                }
            }
        })
    })


    $('table.table').on("click", ".CheckEncode", function (event) {
        $('.ChangeEncode').removeClass("ChangeEncode");
        var encode = $(this).parent().find('input[name=SettingEncodeProject]').val();
        $(this).addClass("ChangeEncode");
        setTimeout(function () { $('.PreLoader').hide(); }, 1000);
        var offset_x = event.clientX;
        var offset_y = event.clientY;
        console.warn(encode);
        $('.EncodingString').find('div[name=' + encode + ']').find('input').prop('checked', true);
        var setting = document.getElementById('EncodingString');
        setting.style.display = "block";
        setting.style.left = (offset_x) + "px";
        setting.style.top = (offset_y) + "px";
        $(document).mouseup(function (event) {
            var container = $('.EncodingString');
            if (container.has(event.target).length === 0) {
                container.hide();
                $('.ChangeEncode').removeClass('ChangeEncode');
            }
        });
    })

    $('.EncodingString input[name=setting]').change(function () {
        if ($(this).is(":checked")) {
            //alert($(this).parent().attr('name'));
            $('.ChangeEncode').parent().find('input[name=SettingEncodeProject]').val($(this).parent().attr('name'));
            var encode_str = $(this).parent().attr('name');
            var id_project = $('.ChangeEncode').parent().find('.ExportButton').attr('id');
            $.post("/Home/ChangeEncodeProject", { id: id_project, encode: encode_str })
                .success(function () { $('.EncodingString').hide(); });
        }
    })

    $('table.table').on("mouseenter", ".infoP", function () {
        $(this).addClass('Scaled')
    });

    $('table.table').on("mouseleave", ".infoP", function () {
        $(this).removeClass('Scaled');
    })

    $('table.table').on("mouseenter", ".actionProject", function () {
        $(this).addClass("Scaled");
    })

    $('table.table').on("mouseleave", ".actionProject", function () {
        $(this).removeClass("Scaled");
    })
</script>
