@model PagedList.IPagedList<SocialFORM.Models.Project.ProjectModel>
@using PagedList.Mvc;

<link rel="stylesheet" href="~/Content/css/home_project.css" />

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="~/Content/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>*@

<style>
    .slow .toggle-group {
        transition: left 0.7s;
        -webkit-transition: left 0.7s;
    }

    .btn {
        padding: 3.5px 12px !important;
    }

    .toggle.btn {
        min-width: 59px;
        min-height: 30px !important;
    }

    .btn_create_project {
        width: 100px;
        padding: 3px;
        background-color: #fff;
        color: #008dd2;
        top: 0px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 600;
    }

        .btn_create_project:hover {
            background-color: #eee;
        }
</style>

<h2 class="H2List">Список проектов</h2>
<div name="PanelOfCreateProject">
    <div style="display:inline-flex;justify-content:center;align-items:center;width:140px;height:30px;background:#008dd2;padding:1px;" onclick="ShowPanelCreateProject($(this))" name="ButtonOfCreateProject">
        <div style="font-size:20px;font-weight:600;color:#CCFF90;margin-right:5px;">&#10010;</div>
        <div style="font-size:11px;font-weight:600;color:#fff;">НОВЫЙ ПРОЕКТ</div>
    </div>
    <div style="position:relative;">
        <div name="FieldOfCreateProject" style="width:300px;height:75px;display:none;background:#008dd2;position:relative;grid-template-columns: repeat(10, 1fr); padding: 5px;z-index:9999;">
            <div style="grid-column: span 3;color: #fff;">Имя</div>
            <div style="grid-column: span 7;"><input type="text" style="width:100%;" name="NameOfNewProject"></div>
            <div style="grid-column: span 10;position:relative;height:30px;">
                <div class="btn_create_project" style="right:103px;" onclick="CreateNewProject($(this))">
                    <div>создать</div>
                </div>
                <div class="btn_create_project" style="right:0px;" onclick="HidePanelOfCreateProject($(this).parents('div[name=FieldOfCreateProject]'))">
                    <div>отмена</div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table">
    @{
        foreach (var item in Model)
        {
            <tr class="project_layer">
                <td id="@item.Id">
                    <div class="NameProjectDiv" id="@item.Id"> @Html.DisplayFor(modelItem => item.NameProject) </div>
                </td>
                <td style="display: inline-flex;">
                    <div class="infoP" id="@item.Id">?</div>
                    <div class="ShowDB" id="@item.Id">База данных</div>
                    <div style="width:2px;" />
                    <div class="SettingExport">
                        <input type="hidden" name="SettingEncodeProject" value="@item.SettingEncode" />
                        <div class="ExportButton" id="@item.Id">&#11015; Экспорт</div>
                        <div class="CheckEncode">&#9776;</div>
                    </div>
                    <div class="AudioDown_all" id="@item.Id"><img src="~/Content/downloads-i.png" width="20" height="20" /></div>
                    @*@Html.ActionLink("Копировать", "Copi", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id }) |*@
                    <div style="width:5px;" />
                    @if (item.ActionProject == true)
                    {
                        //<div class="actionProject Action" id="@item.Id">В работе</div>
                        <input id="@item.Id" class="toggle-event toggle-action" type="checkbox" data-toggle="toggle" data-on="On" data-off="Off" data-height="30" data-style="slow" checked>
                    }
                    else
                    {
                        //<div class="actionProject NonAction" id="@item.Id">Заблокирован</div>
                        <input id="@item.Id" class="toggle-event toggle-action" type="checkbox" data-toggle="toggle" data-on="On" data-off="Off" data-height="30" data-style="slow">
                    }
                    <div style="width:5px;" />

                    @if (item.CostumerProject == true)
                    {
                        //<div class="actionProject Action" id="@item.Id">В работе</div>
                        <input id="@item.Id" class="toggle-event toggle-costumer" type="checkbox" data-toggle="toggle" data-on="On" data-off="Off" data-height="30" data-style="slow" checked>
                    }
                    else
                    {
                        //<div class="actionProject NonAction" id="@item.Id">Заблокирован</div>
                        <input id="@item.Id" class="toggle-event toggle-costumer" type="checkbox" data-toggle="toggle" data-on="On" data-off="Off" data-height="30" data-style="slow">
                    }
                </td>
            </tr>
            <tr class="info_project" id="@item.Id" style="display:none">
                <td><button class="infoP_close" id="@item.Id">X</button></td>
                <td class="str_infoP" id="@item.Id"></td>
            </tr>
        }
    }
</table>

<div id="contentPager">
    @Html.PagedListPager(
                                         Model,
                                         page => Url.Action("_Project", "Home", new { page = page }),
                                         PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Tables" })
                                         )
</div>

<div class="EncodingString" id="EncodingString">
    <div name="UTF-8"><input type="radio" name="setting" />UTF-8</div>
    <div name="Windows-1251"><input type="radio" name="setting">Windows-1251</div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Информация по архиву</h4>
            </div>
            <div class="modal-body">
                <!-- /.ZIP информация  -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.модальное окно-Содержание -->
    </div><!-- /.модальное окно-диалог -->
</div><!-- /.модальное окно -->

<link rel="stylesheet" type="text/css" href="https://loading.io/css/loading.css" />

<div id="msg_audio" class="msg_audio" style="z-index: 999;">
    <div class="TextDivAudio" style="top: calc(50% - 350px) !important;height: 700px !important;">
        <div class="namePR" style="color: #008dd2;font-size: 30px;"></div>

        <label class="inFFLabel"><input type="radio" class="inF inFA" name="faudio1" value="ALL" checked> Все</label>
        <label class="inFFLabel"><input type="radio" class="inF inFF" name="faudio1" value="fa1"> По Фильтру</label>

        <div id="Filter">
            <input type="checkbox" id="fio" name="fio" value="hid" onchange="changeFIO($(this))" /><label for="fio">Фамилия Имя - оператора</label>
            <div id="FilterFIO">
                <select class="select_operator_audio" name="select_operator_audio" id="select_operator_audio"><option selected value="-1"> Все</option></select>
            </div>
            <input type="checkbox" id="date" name="date" value="hid" onchange="changeDATE($(this))" /><label for="date">Дата</label>
            <div id="FilterDate">
                <select class="select_date_audio" name="select_date_audio" id="select_date_audio"><option selected value="-1"> Все</option></select>
            </div>
        </div>
        <div class="downLoader" style="padding: 0 10px;margin-bottom: 5px;max-height: 55%;overflow-y: auto;/* height: 15%; *//* width: 50%; */">
        </div>
        <a class="RunReport" href="javascript: RunReport('@Url.Action("RunReport", "UserReport", null)')" style="background-color: #008dd2;padding: 0 5px;color: #fff;">Сформировать список</a>
    </div>
    <div class="butn_filte_audio" style="top: 130px !important;">
        @*<div class="cssRec" onclick="RunReport()">Скачать</div>
            <div style="margin:0 10px;"></div>*@
        <div class="cssRec" onclick="down_close()">Отмена</div>
    </div>
</div>

<style>
    ::-webkit-scrollbar-button {
        background-image: url('');
        background-repeat: no-repeat;
        width: 6px;
        height: 0px
    }

    ::-webkit-scrollbar-track {
        border: 2px solid #008dd2;
        border-radius: 5px;
        box-shadow: 0px 0px 3px #008dd2 inset;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #008dd2;
        box-shadow: 0px 0px 1px #fff inset;
        background-image: url(https://yraaa.ru/_pu/24/59610063.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    ::-webkit-resizer {
        background-image: url('');
        background-repeat: no-repeat;
        width: 7px;
        height: 0px
    }

    ::-webkit-scrollbar {
        width: 11px;
    }
    .blink {
        animation: blink 2s linear infinite; /* Параметры анимации */
        animation-direction: alternate;
    }

    @@keyframes blink {
        from {
            opacity: 1; /* Непрозрачный текст */
        }

        to {
            opacity: 0; /* Прозрачный текст */
        }
    }
</style>

@Scripts.Render("~/Scripts/jquery-1.10.2.js")
<script type="text/javascript">

    function RunReport() {
        $("#progress-spinner").show();
        $('a.RunReport').hide();
        $('label.inFFLabel').hide();

        if ($('input:checkbox[name=fio]').val() == "sh") {
            userID_audio = document.getElementById("select_operator_audio").options[document.getElementById("select_operator_audio").options.selectedIndex].value;
            if (userID_audio == "-1") userID_audio = 0;
        } else {
            userID_audio = 0;
        }

        if ($('input:checkbox[name=date]').val() == "sh") {
            date_audio = document.getElementById("select_date_audio").options[document.getElementById("select_date_audio").options.selectedIndex].value;
            if (date_audio == "-1") date_audio = null;
        } else {
            date_audio = null;
        }

        var code = '<span class="blink">Сбор данных   </span><div class="ld ld-hourglass ld-spin-fast" style="font-size:24px;color:#008dd2"></div>';
        $('.downLoader').empty();
        $('.downLoader').append(code);

        $.ajax({
            cache: false,
            url: '/Audio/RunReport?id_project=' + projectID_audio + '&id_user=' + userID_audio + '&date=' + date_audio,
            type: "POST",
            success: function (response) {
                var code = '<span class="blink">Создание ZIP архива   </span><div class="ld ld-hourglass ld-spin-fast" style="font-size:24px;color:#81c784"></div>';
                $('.downLoader').empty();
                $('.downLoader').append(code);

                $.ajax({
                    cache: false,
                    url: '/Audio/AudioAllDownToZip?fileGuid=' + response.FileGuid + '&mimeType=' + response.MimeType + '&filename=' + response.FileName,
                    type: "POST",
                    success: function (res) {
                        var code = '<span>Подготовка завершена. Нажмите на ссылку для скачивания</span>';
                        var sPath = res.FileGuid.split('#');
                        var nFile = res.FileName.split('#');
                        for (var i = 0; i < res.CountFile; i++) {
                            code += '<p><a style="color:#81c784;font-size:16px;" href="/Audio/Download?fileGuid=' + sPath[i] + '&mimeType=' + res.MimeType + '&filename=' + nFile[i] + '">' + nFile[i] + '</a></p>';
                        }
                        $('.downLoader').empty();
                        $('.downLoader').append(code);


                        $('a.RunReport').show();
                        $('label.inFFLabel').show();

                        //window.location.href = '/Audio/Download?fileGuid=' + res.FileGuid + '&mimeType=' + res.MimeType + '&filename=' + res.FileName;
                        $("#progress-spinner").hide();
                    }
                });

                //window.location.href = '/Audio/AudioAllDownToZip?fileGuid=' + response.FileGuid + '&mimeType=' + response.MimeType + '&filename=' + response.FileName;
                $("#progress-spinner").hide();
            }
        });

    }



    function ShowPanelCreateProject(elemnt) {
        elemnt.hide();
        elemnt.parents('div[name=PanelOfCreateProject]').find('div[name=FieldOfCreateProject]').css({ "display": "grid" });
    }

    function CreateNewProject(elemnt) {
        let name_project = elemnt.parents('div[name=FieldOfCreateProject]').find('input[name=NameOfNewProject]').val();
        $.get('/Home/AddProject', { name_project: name_project })
            .success(function (data) {
                var code = '<tr class="project_layer">' +
                    '<td id="' + data.Id + '">' +
                    '<div class="NameProjectDiv" id="' + data.Id + '">' + data.NameProject + '</div>' +
                    '</td>' +
                    '</tr>'

                $('.table').append(code);
                HidePanelOfCreateProject(elemnt.parents('div[name=FieldOfCreateProject]'))
            })
            .error(function () { alert('Не удалось добавить проект') });
    }

    function HidePanelOfCreateProject(elemnt) {
        elemnt.hide();
        elemnt.find('input[name=NameOfNewProject]').val("");
        elemnt.parents('div[name=PanelOfCreateProject]').find('div[name=ButtonOfCreateProject]').css({ "display": "inline-flex" });
    }

    let projectID_audio;
    let userID_audio;
    let date_audio;

    //function down_zip() {

    //    if ($('input:checkbox[name=fio]').val() == "sh") {
    //        userID_audio = document.getElementById("select_operator_audio").options[document.getElementById("select_operator_audio").options.selectedIndex].value;
    //        if (userID_audio == "-1") userID_audio = 0;
    //    } else {
    //        userID_audio = 0;
    //    }

    //    if ($('input:checkbox[name=date]').val() == "sh") {
    //        date_audio = document.getElementById("select_date_audio").options[document.getElementById("select_date_audio").options.selectedIndex].value;
    //        if (date_audio == "-1") date_audio = null;
    //    } else {
    //        date_audio = null;
    //    }

    //    window.location.href = '/Audio/AudioAllDownToZip?id_project=' + projectID_audio + '&id_user=' + userID_audio + '&date=' + date_audio;
    //}

    $('table.table').on("click", ".AudioDown_all", function () {

        projectID_audio = $(this).attr('id');

        $('div.namePR').empty();
        $('div.namePR').append($('.NameProjectDiv[id=' + projectID_audio + ']').text());
        document.getElementById('msg_audio').style.display = 'block';

        $('.downLoader').empty();

    });

    $('input:radio[name=faudio1]').change(function () {
        var ddd = $(this).val();
        if (ddd == 'fa1') {
            document.getElementById('Filter').style.display = 'block';
        }
        else {
            document.getElementById('Filter').style.display = 'none';
        }
    });

    function down_close() {

        if ($('input:checkbox[name=fio]').val() != "hid") {
            document.getElementById('FilterFIO').style.display = 'none';
            $('input:checkbox[name=fio]').val("hid");
            $('.select_operator').find('option').remove();
            var code = '<option selected value="-1">Все</option>';
            $('select.select_operator').append(code);
        }

        if ($('input:checkbox[name=date]').val() != "hid") {
            document.getElementById('FilterDate').style.display = 'none';
            $('input:checkbox[name=date]').val("hid");
            $('.select_date_audio').find('option').remove();
            var code = '<option selected value="-1">Все</option>';
            $('select.select_date_audio').append(code);
        }

        $('#fio').prop("checked", false);
        $('#date').prop("checked", false);
        $('.inFA').prop("checked", true);
        $('.inFF').prop("checked", false);
        document.getElementById('Filter').style.display = 'none';

        document.getElementById('msg_audio').style.display = 'none';
        return false;
    }

    function changeFIO(el) {
        console.log("fio");
        if (el.val() == "hid") {
            document.getElementById('FilterFIO').style.display = 'block';
            $('input:checkbox[name=fio]').val("sh");
            //
            //Запрос на список Операторов
            //
            var idproj = projectID_audio;
            $('.select_operator_audio').find('option').remove();
            var code = '<option selected value="-1">Все</option>';
            $('select.select_operator_audio').append(code);
            $.get("/Home/Statistics_operator?idp=" + idproj)
                .success(function (server_data) {
                    var server_data_tmp;
                    server_data_tmp = server_data.sort(function (a, b) {
                        return a.FamilyView.localeCompare(b.FamilyView);
                    });
                    $.each(server_data_tmp, function (i, data) {
                        var code = '<option value="' + data.IdView + '">' + data.FamilyView + ' ' + data.NameView + '</option>';
                        $('select.select_operator_audio').append(code);
                    })
                    console.info("Успешная выгрузка листа операторов ---- ", server_data);
                })
                .error(function (err) { console.error("Ошибка выгрузка данных ... /Home/Statistics_operator", err) })
        }
        else {
            document.getElementById('FilterFIO').style.display = 'none';
            $('input:checkbox[name=fio]').val("hid");
            $('.select_operator').find('option').remove();
            var code = '<option selected value="-1">Все</option>';
            $('select.select_operator').append(code);
        }
    }

    function changeDATE(el) {
        if (el.val() == "hid") {
            document.getElementById('FilterDate').style.display = 'block';
            $('input:checkbox[name=date]').val("sh");
            ////
            ////Запрос на список Операторов
            ////
            var idproj = projectID_audio;
            $('.select_date_audio').find('option').remove();
            var code = '<option selected value="-1">Все</option>';
            $('select.select_date_audio').append(code);
            $.get("/Home/Statistics_operator_date?idp=" + idproj)
                .success(function (server_data) {
                    $.each(server_data, function (i, data) {
                        var code = '<option value="' + data + '">' + data + '</option>';
                        $('select.select_date_audio').append(code);
                    })
                    console.info("Успешная выгрузка листа операторов ---- ", server_data);
                })
                .error(function (err) { console.error("Ошибка выгрузка данных ... /Home/Statistics_operator", err) })
        }
        else {
            document.getElementById('FilterDate').style.display = 'none';
            $('input:checkbox[name=date]').val("hid");
            $('.select_date_audio').find('option').remove();
            var code = '<option selected value="-1">Все</option>';
            $('select.select_date_audio').append(code);
        }
    }

    $('button.infoP_close').click(function () {
        var id_project = $(this).attr('id');
        $('tr.info_project[id =' + id_project + ']').attr('style', 'display:none');
    });

    $('div.infoP').click(function () {
        var id_project = $(this).attr('id');
        $('tr.info_project[id =' + id_project + ']').attr('style', 'display:normal');
        var code = null;
        $.get('/Home/getInfoProject', { id_project: id_project })
            .success(function (str) {
                if (str != "null") {
                    var tmp_str = str.split("_");
                    $('td.str_infoP[id =' + id_project + ']').empty();
                    code = '<p><b>' + tmp_str[0] + '</b>' + tmp_str[1] + '</p>';
                    code += '<p><b>' + tmp_str[2] + '</b>' + tmp_str[3] + '</p>';
                    $('td.str_infoP[id =' + id_project + ']').append(code);
                }
                else {
                    $('td.str_infoP[id =' + id_project + ']').empty();
                    code = '<p>Список пуст</p>';
                    $('td.str_infoP[id =' + id_project + ']').append(code);
                }
            });
    });

    $('.toggle-action').change(function () {
        var id_project = $(this).attr('id');
        $.ajax({
            type: "POST",
            url: "/Home/actionProject",
            async: false,
            data: { id: id_project },
            success: function () {
                $('.Tables').load('/Home/Project');
            }
        })
    })

    $('input.toggle-costumer').change(function () {
        var id_project = $(this).attr('id');
        $.ajax({
            type: "POST",
            url: "/Home/costumerProject",
            async: false,
            data: { id: id_project },
            success: function () {
                $('.Tables').load('/Home/Project');
            }
        })
    })

    $(document).ready(function () {

        $('button.export_result').click(function () {
            document.location.href = "/Home/ExportToEXCEL?id_p=" + $(this).attr('id') + "&name_file=" + $(this).parent().parent().find('td').first().text();
        })

    });

    $('.show_blanks').click(function () {
        var id_project = $(this).attr('id');
        $.ajax({
            type: "GET",
            url: "/Home/getResultList",
            async: false,
            data: { id_project: id_project },
            success: function (data) {
                if (data.length != 0) {
                    $('.Tables').load('/Home/TableBlanks?id_project=' + id_project);
                } else {
                    alert("Список пуст");
                }
            }
        })

    });

    $('table.table').on("mouseenter", ".ExportButton", function () {
        $(this).addClass('Scaled');
    })

    $('table.table').on("mouseleave", ".ExportButton", function () {
        $(this).removeClass('Scaled');
    })

    $('table.table').on("mousedown", ".ExportButton", function () {
        $(this).addClass('NotScaled').removeClass('Scaled');
        setTimeout(function () { $('.PreLoader').hide(); }, 1000);
    })

    $('table.table').on("mouseup", ".ExportButton", function () {
        $(this).addClass('Scaled').removeClass('NotScaled');
        var setting = $(this).parent().find('input[name=SettingEncodeProject]').val();
        console.warn(setting);
        document.location.href = "/Home/ExportToEXCEL?id_p=" + $(this).attr('id') + "&name_file=" + $(this).parent().parent().parent().find('td').first().text() + "&encode=" + setting;
        $('.PreLoader').hide();
    })

    $('table.table').on("mouseenter", ".CheckEncode", function () {
        $(this).addClass('Scaled');
    })

    $('table.table').on("mouseleave", ".CheckEncode", function () {
        $(this).removeClass('Scaled');
    })

    $('table.table').on("mouseenter", ".NameProjectDiv", function () {
        $(this).addClass('Scaled');
    })

    $('table.table').on("mouseleave", ".NameProjectDiv", function () {
        $(this).removeClass('Scaled');
    })

    $('table.table').on("click", ".NameProjectDiv", function () {
        $(this).removeClass('Scaled').addClass('NotScaled');
        var id = $(this).attr('id');
        $('.PreLoader').show();
        $("#Tables").load("/Group/Manager?id_project=" + id);
    })

    $('table.table').on("mouseenter", ".ShowDB", function () {
        $(this).addClass('Scaled');
    })

    $('table.table').on("mouseleave", ".ShowDB", function () {
        $(this).removeClass('Scaled');
    })

    $('table.table').on("mousedown", ".ShowDB", function () {
        $('.PreLoader').show();
        $(this).removeClass('Scaled').addClass('NotScaled');
        var id_project = $(this).attr('id');
        $.ajax({
            type: "GET",
            url: "/Home/getResultList",
            async: false,
            data: { id_project: id_project },
            success: function (data) {
                if (data.length != 0) {
                    $('.Tables').load('/Home/TableBlanks?id_project=' + id_project);
                } else {
                    alert("Список пуст");
                }
            }
        })
    })


    $('table.table').on("click", ".CheckEncode", function (event) {
        $('.ChangeEncode').removeClass("ChangeEncode");
        var encode = $(this).parent().find('input[name=SettingEncodeProject]').val();
        $(this).addClass("ChangeEncode");
        setTimeout(function () { $('.PreLoader').hide(); }, 1000);
        var offset_x = event.clientX;
        var offset_y = event.clientY;
        console.warn(encode);
        $('.EncodingString').find('div[name=' + encode + ']').find('input').prop('checked', true);
        var setting = document.getElementById('EncodingString');
        setting.style.display = "block";
        setting.style.left = (offset_x) + "px";
        setting.style.top = (offset_y) + "px";
        $(document).mouseup(function (event) {
            var container = $('.EncodingString');
            if (container.has(event.target).length === 0) {
                container.hide();
                $('.ChangeEncode').removeClass('ChangeEncode');
            }
        });
    })

    $('.EncodingString input[name=setting]').change(function () {
        if ($(this).is(":checked")) {
            //alert($(this).parent().attr('name'));
            $('.ChangeEncode').parent().find('input[name=SettingEncodeProject]').val($(this).parent().attr('name'));
            var encode_str = $(this).parent().attr('name');
            var id_project = $('.ChangeEncode').parent().find('.ExportButton').attr('id');
            $.post("/Home/ChangeEncodeProject", { id: id_project, encode: encode_str })
                .success(function () { $('.EncodingString').hide(); });
        }
    })

    $('table.table').on("mouseenter", ".infoP", function () {
        $(this).addClass('Scaled')
    });

    $('table.table').on("mouseleave", ".infoP", function () {
        $(this).removeClass('Scaled');
    })

    $('table.table').on("mouseenter", ".actionProject", function () {
        $(this).addClass("Scaled");
    })

    $('table.table').on("mouseleave", ".actionProject", function () {
        $(this).removeClass("Scaled");
    })
</script>
