@using SocialFORM.Models.Menu
@model IEnumerable<MenuItem>

@helper BuildMenu(IEnumerable<MenuItem> data, int? parentId = null)
    {
        var items = data.Where(d => d.ParentId == parentId).OrderBy(i => i.Order);
        if (items.Any())
        {
            <ul class="menu">
                @if (User.IsInRole("Admin"))
                {
                    foreach (var it in items.Where(a => a.RoleId == 1))
                    {
                        <li id="@it.Url">
                            @Ajax.ActionLink(@it.Header, @it.Url, new AjaxOptions { UpdateTargetId = "Tables" })
                            @BuildMenu(data, it.Id)
                        </li>
                    }
                }
                @if (User.IsInRole("Operator"))
                {
                    foreach (var it in items.Where(a => a.RoleId == 2))
                    {
                        <li>
                            @Ajax.ActionLink(@it.Header, @it.Url, new AjaxOptions { UpdateTargetId = "Tables" })
                            @BuildMenu(data, it.Id)
                        </li>
                    }
                }
                @if (User.IsInRole("Customer"))
                {
                    foreach (var it in items.Where(a => a.RoleId == 3))
                    {
                        <li>
                            @Ajax.ActionLink(@it.Header, @it.Url, new AjaxOptions { UpdateTargetId = "Tables" })
                            @BuildMenu(data, it.Id)
                        </li>
                    }
                }
            </ul>
        }
}
<style>
    .iconMenu {
        width: 30px;
        height: 30px;
        /*display:none;*/
    }

    li {
        list-style-type: none; /* Убираем маркеры */
    }

    ul {
        margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
</style>

<div id="cssmenu">
    @BuildMenu(Model)
</div>



