@using SocialFORM.Models.Menu
@model IEnumerable<MenuItem>

@helper BuildMenu(IEnumerable<MenuItem> data, int? parentId = null)
    {
        var items = data.Where(d => d.ParentId == parentId).OrderBy(i => i.Order);
        if (items.Any())
        {
            <ul class="menu">
                @if (User.IsInRole("Admin"))
                {
                    foreach (var it in items.Where(a => a.RoleId == 1))
                    {
                        <li>
                            @Html.Raw(Ajax.ActionLink(@it.Header, @it.Url, "Home", new AjaxOptions { UpdateTargetId = "Tables" }).ToHtmlString().Replace(it.Header, "<img class=\"iconMenu\" src=\"" + it.UrlIcon + "\" title=\"" + it.Header + "\" />"))
                            @BuildMenu(data, it.Id)
                        </li>
                    }
                }
                @if (User.IsInRole("Operator"))
                {
                    foreach (var it in items.Where(a => a.RoleId == 2))
                    {
                        <li>
                            @Html.Raw(Ajax.ActionLink(@it.Header, @it.Url, "Home", new AjaxOptions { UpdateTargetId = "Tables" }).ToHtmlString().Replace(it.Header, "<img class=\"iconMenu\" src=\"" + it.UrlIcon + "\" />"))
                            @BuildMenu(data, it.Id)
                        </li>
                    }
                }
            </ul>
        }
}
<style>
    .iconMenu {
        width: 30px;
        height: 30px;
        /*display:none;*/
    }

    li {
        list-style-type: none; /* Убираем маркеры */
    }

    .iconMenu {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    ul {
        margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
</style>

<div id="cssmenu">
    @BuildMenu(Model)
</div>


