@model IEnumerable<SocialFORM.Models.Project.ProjectModel>

<h2>Список проектов</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            
            <span class="create_project" style="cursor: pointer;">Имя проекта </span><button class="create_project_button">Создать проект</button>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="project_layer">
        <td id="@item.Id" >
            @Html.DisplayFor(modelItem => item.NameProject)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("База данных", "Details", new { id=item.Id }) 
            <button class="show_blanks" id="@item.Id">+</button>|
            @Html.ActionLink("Копировать", "Copi", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@Scripts.Render("~/Scripts/jquery-1.10.2.js")
<script type="text/javascript">
    $(document).ready(function () {
        $(".table").on("click", "td", function () {
            var id = $(this).attr('id');
            $("#Tables").load("/Group/Manager?id_project=" + id);
            //location.href = "/Group/Manager?id_project=" + id;
        });

        //$(".table").on("click", "button", function () {
        //    alert("ewrqweq");
        //    $("#Tables").load("/Form/SingleFormView?id_q=1");
        //});
  

    });
    $(".table").on('mouseenter', '.project_layer', function () {
        $(this).css('background-color', '#72afff');
    });
    $(".table").on('mouseleave', '.project_layer', function () {
        $(this).css('background-color', '#fff');
    });
    $('.create_project').click(function () {
        var code = '<input type="text" class="name_project" style="display: none;"/>'
        $(this).after(code);
        $('.create_project_button').fadeOut('slow');
        $('.create_project').fadeOut('slow', function () {
            $('.name_project').fadeIn('slow');
        });
    });
    $('.table').on('keyup', '.name_project', function (event) {
        if (event.keyCode == 13) {
            var name_p;
            name_p = $(this).val();
            $(this).fadeOut('slow').remove();
            $('.create_project').text(name_p).fadeIn('slow').css('margin-right', '15px');
            $('.create_project_button').fadeIn('slow');
        }
    });
    $('.create_project_button').click(function () {
        $.get('/Home/AddProject', { name_project: $('.create_project').text() })
            .success(function (data) {
                var code = '<tr class="project_layer">' +
                    '<td id="' + data.Id + '" >' + $('.create_project').text() +
                    '</td><td>' +
                    '<a href="/Home/Edit?id="' + data.Id + '>Изменить</a>' +
                    '<a href="/Home/Details?id="' + data.Id + '>База данных</a>' +
                    '<a href="/Home/Copi?id="' + data.Id + '>Копировать</a>' +
                    '<a href="/Home/Delete?id="' + data.Id + '>Удалить</a>' +
                    '</td ></tr >';
                $('.table').append(code);
            })
            .error(function () { alert('Не удалось добавить проект')});
        
    });
    $('.show_blanks').click(function () {
        var id_project = $(this).attr('id');
        $.ajax({
            type: "GET",
            url: "/Home/getResultList",
            async: false,
            data: { id_project: id_project },
            success: function (data) {
                if (data.length != 0) {
                    $('.Tables').load('/Home/TableBlanks?id_project=' + id_project);
                } else {
                    alert("Список пуст");
                }
            }
        })
        
      //  $('body div.body-content').append('<div class="table_blanks"></div>');
      //  $('div.table_blanks').css({
      //      'position': 'fixed',
      //      'width': '60%',
      //      'height': '60%',
      //      'left': '20%',
      //      'top': '20%',
      //      'background-color': 'rgba(200, 200, 200, 0.7)',
      //      'display': 'block'
      //  });
      ////  $('body div.body-content').css('pointer-events', 'none');
      //  $('div.table_blanks').append('<button class="close_table_blanks">Close</button>');
      //  $.ajax({
      //      type: "GET",
      //      url: "/Form/getBlanks",
      //      async: false,
      //      data: { id_project: $(this).attr('id') },
      //      success: function (data) {
      //          alert(data.length);
      //          $.each(data, function (i, data) {
      //              $('div.table_blanks').append('<p class="textblanks"><span> UserID: ' + data.UserID + ' Number: ' + data.PhoneNumber + ' Date: ' + data.Time + '</span></p>');
      //          });
      //      },
      //      error: function () {
      //          alert('Error');
      //      }
      //  });
      //  $('div.table_blanks p').mouseenter(function () {
      //      $(this).append('<button class="copy_text">Copy</button>');
      //      $(this).css('background', '#72afff');
      //  })
      //  $('div.table_blanks p').mouseleave(function () {
      //      $(this).find('button.copy_text').remove();
      //      $(this).removeAttr('style');
      //  });
      //  $('button.close_table_blanks').click(function () {
      //     // $('body div.body-content').css('pointer-events', 'auto');
      //      $('div.table_blanks').remove();
      //  });
      //  $('.table_blanks').on('click', '.copy_text', function () {
      //      var e = $(this).parent().find('span');
      //      $(this).append('<textarea class="hidden_text"/>');
      //      $('.hidden_text').val(e.text()).select();
      //      document.execCommand('copy');
      //      $('.hidden_text').remove();

      //  });
    });
</script>