@model IList<SocialFORM.Models.Form.ResultModel>
@using PagedList.Mvc;

@Scripts.Render("~/scripts/jquery-1.10.2.js")
@Scripts.Render("~/Scripts/jquery-1.10.2.js")
@Scripts.Render("~/Scripts/moment.min.js")
@Scripts.Render("~/Scripts/daterangepicker.js")

<link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css" />
<link href="~/Content/themes/ui/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="~/Content/themes/ui/theme.css" rel="stylesheet" type="text/css" />
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-ui.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
<script src="~/Scripts/i18n/grid.locale-ru.js" type="text/javascript"></script>


<style>
    body {
        background-color: #f0f0ffa;
    }

    .ui-jqgrid .ui-pg-input {
        height: 20px;
    }

    .ui-jqgrid .ui-jqgrid-pager {
        height: 50px;
    }

    #gbox_jqg {
        height: 100%;
    }

    .ui-jqgrid-bdiv {
        height: 600px !important;
    }

    .FormGrid {
        height: auto !important;
    }
</style>
<div>
    Выберите проект :
    <select class="select_project" name="select_project" id="select_project">
        <option selected value="-1">Все</option>
    </select>
    <p></p>
    <p class="s_project" hidden></p>
    <script>
        $('.select_project').change(function () {
            $('.res2').empty();
            $('.select_operator').prop('disabled', false);
            $('.div_data').prop('hidden', false);
            if ($('.s_data').text() == '') {
                var startData = '-1';
                var endData = '-1';
                var startTime = '-1';
                var endTime = '-1';
            }
            else {
                var string = $('#reportrange span').text().split('-');
                var startDataTime = string[0].split('_');
                var endDataTime = string[1].split('_');
                var startData = startDataTime[0];
                var endData = endDataTime[0];
                var startTime = startDataTime[1];
                var endTime = endDataTime[1];
            }
            $('.s_project').empty();
            $('.s_project').append(document.getElementById("select_project").options[document.getElementById("select_project").options.selectedIndex].text);
            jqGRID(document.getElementById("select_project").options[document.getElementById("select_project").options.selectedIndex].value,
                document.getElementById("select_operator").options[document.getElementById("select_operator").options.selectedIndex].value,
                startData,
                endData,
                startTime,
                endTime
            );
            console.log(document.getElementById("select_project").options[document.getElementById("select_project").options.selectedIndex].value);
        });
    </script>
    Выберите оператора :
    <select class="select_operator" name="select_operator" id="select_operator" disabled>
        <option selected value="-1">Все</option>
    </select>
    <p></p>
    <p class="s_operator" hidden></p>
    <script>
        $('.select_operator').change(function () {
            $('.res2').empty();
            if ($('.s_data').text() == '') {
                var startData = '-1';
                var endData = '-1';
                var startTime = '-1';
                var endTime = '-1';
            }
            else {
                var string = $('#reportrange span').text().split('-');
                var startDataTime = string[0].split('_');
                var endDataTime = string[1].split('_');
                var startData = startDataTime[0];
                var endData = endDataTime[0];
                var startTime = startDataTime[1];
                var endTime = endDataTime[1];
            }
            $('.s_operator').empty();
            $('.s_operator').append(document.getElementById("select_operator").options[document.getElementById("select_operator").options.selectedIndex].text);
            jqGRID(document.getElementById("select_project").options[document.getElementById("select_project").options.selectedIndex].value,
                document.getElementById("select_operator").options[document.getElementById("select_operator").options.selectedIndex].value,
                startData,
                endData,
                startTime,
                endTime
            );
            console.log(document.getElementById("select_operator").options[document.getElementById("select_operator").options.selectedIndex].value);
        });
    </script>
    <div class="div_data" hidden>
        Выберите дату и время :
        <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 50%">
            <i class="fa fa-calendar"></i>&nbsp;
            <span class="data"></span> <i class="fa fa-caret-down"></i>
        </div>
        <p></p>
        <p class="s_data" hidden></p>
    </div>
    <script>
        $('body').on('click', '.applyBtn', function () {
            $('.res2').empty();
            var string = $('#reportrange span').text().split('-');
            var startDataTime = string[0].split('_');
            var endDataTime = string[1].split('_');
            var startData = startDataTime[0];
            var endData = endDataTime[0];
            var startTime = startDataTime[1];
            var endTime = endDataTime[1];
            $('.s_data').empty();
            $('.s_data').append('От: ' + startData + ' - До: ' + endData + ' Время: ' + startTime + ' - ' + endTime);
            jqGRID(document.getElementById("select_project").options[document.getElementById("select_project").options.selectedIndex].value,
                document.getElementById("select_operator").options[document.getElementById("select_operator").options.selectedIndex].value,
                startData,
                endData,
                startTime,
                endTime
            );
            console.log($('.data').text());
        });
    </script>
</div>
<div class="res1">
    <table id="jqgStat"></table>
    <div id="jpagerStat"></div>
</div>
<div class="res2">

</div>
<div class="res3">
    Итог:
    @ViewData["Test"]
</div>
<script type="text/javascript">
    //
    //Запрос на список проекта
    //
    $.get("/Home/Statistics_project")
        .success(function (server_data) {
            $.each(server_data, function (i, data) {
                var code = '<option value="' + data.Id + '">' + data.NameProject + '</option>';
                $('select.select_project').append(code);
            })
            console.info("Успешная выгрузка листа проектов ---- ", server_data);
        })
        .error(function (err) { console.error("Ошибка выгрузка данных ... /Home/Statistics_project", err) })
    //
    //Запрос на список Операторов
    //
    $.get("/Home/Statistics_operator")
        .success(function (server_data) {
            var server_data_tmp;
            server_data_tmp = server_data.sort(function (a, b) {
                return a.FamilyView.localeCompare(b.FamilyView);
            });
            $.each(server_data_tmp, function (i, data) {
                var code = '<option value="' + data.IdView + '">' + data.FamilyView + ' ' + data.NameView + '</option>';
                $('select.select_operator').append(code);
            })
            console.info("Успешная выгрузка листа операторов ---- ", server_data);
        })
        .error(function (err) { console.error("Ошибка выгрузка данных ... /Home/Statistics_operator", err) })

    //
    //Календрь
    //
    $(function () {

        var start = moment();
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('DD.MM.YYYY_H:mm:ss') + '-' + end.format('DD.MM.YYYY_HH:mm:ss'));
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            timePicker: true,
            timePicker24Hour: true,
            parentEl: "div.Tables",
            locale: {
                "format": "DD.MM.YYYY HH:mm:ss",
                "separator": "-",
                "applyLabel": "Применить",
                "cancelLabel": "Отменить",
                "fromLabel": "От",
                "toLabel": "До",
                "customRangeLabel": "Выбрать",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Суб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                "firstDay": 1,
            }
        }, cb);
        cb(start, end);

    });

</script>

<script type="text/javascript">

    $('.select_project').change(function () {
        if (document.getElementById("select_project").options[document.getElementById("select_project").options.selectedIndex].value == '-1') {
            $('.select_operator').prop('disabled', true);
            $('.div_data').prop('hidden', true);
            $('.res1').empty();
            $('.res2').empty();
        }
    });

    function jqGRID(spr, sop, sd, ed, st, et) {
        $(".res1").empty();
        var code = '<table id="jqgStat"></table><div id = "jpagerStat" ></div>'
        $(".res1").append(code);
        $("#jqgStat").jqGrid({
            url: "/Home/GetDataStat?id=" + spr + "&idop=" + sop + "&sd=" + sd + "&ed=" + ed + "&st=" + st + "&et=" + et,
            datatype: "json",
            colNames: ['№', 'PID', 'UID', 'Пользователь', 'Телефон', 'Дата', 'В. Начало', 'В. Конец', 'Длительность'],
            colModel: [
                { name: 'IDView', index: 'IDView', width: 50, stype: 'text', key: true, editable: true },
                { name: 'ProjectIDView', index: 'ProjectIDView', hidden: true },
                { name: 'UserIDView', index: 'UserIDView', hidden: true },
                { name: 'UserNameView', index: 'UserNameView', width: 250, sortable: true, editable: true, edittype: 'text' },
                { name: 'PhoneView', index: 'PhoneView', width: 100, sortable: true, editable: true, edittype: 'text' },
                { name: 'DateView', index: 'DateView', width: 100, sortable: true, editable: true, edittype: 'text' },
                { name: 'StartTimeView', index: 'StartTimeView', width: 100, sortable: true, editable: true, edittype: 'text' },
                { name: 'EndTimeView', index: 'EndTimeView', width: 100, sortable: true, editable: true, edittype: 'text' },
                { name: 'LenghtTimeView', index: 'LenghtTimeView', width: 100, sortable: true, editable: true, edittype: 'text' }
            ],
            rowNum: 25,
            rowList: [25, 50, 75],
            width: 800,
            pager: '#jpagerStat',
            loadonce: true,
            sortname: 'Id',
            sortorder: "desc",
            caption: "Список анкет"
        });
        $("#jqgStat").jqGrid('navGrid', '#jpagerStat', {

            search: true,
            add: false,
            edit: false,
            del: false,
            refresh: false,
            view: true, // просмотр записи
            viewtitle: "Выбранная запись",
        }
        );
        jQuery("#jqgStat").jqGrid('navGrid', "#jpagerStat").jqGrid('navButtonAdd', "#jpagerStat", {
            caption: "Cтатистика",
            buttonicon: "ui-icon-newwin",
            onClickButton: function () {
                if (document.getElementById("select_project").options[document.getElementById("select_project").options.selectedIndex].value != '-1') jqGRIDres(spr, sop, sd, ed, st, et)
            },
            position: "last",
            title: "Расчитать статистику",
            cursor: "pointer"
        });
        jQuery("#jqgStat").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false });
    }
    function jqGRIDres(spr, sop, sd, ed, st, et) {
        $(".res2").empty();
        var code = '<table id="jqgStatRes"></table><div id = "jpagerStatRes" ></div>'
        $(".res2").append(code);
        $("#jqgStatRes").jqGrid({
            url: "/Home/GetDataStatResult?id=" + spr + "&idop=" + sop + "&sd=" + sd + "&ed=" + ed + "&st=" + st + "&et=" + et,
            datatype: "json",
            colNames: ['№', 'Дата', 'К.Анкет', 'К.Польз.', 'К.Анк.Час', 'Ср.Время', 'Мин.Длит', 'Макс.Длит', 'Сред.Откл', '1..N'],
            colModel: [
                { name: 'IdView', index: 'IdView', width: 50, stype: 'text', key: true, editable: true },
                { name: 'DataView', index: 'DataView', width: 150, sortable: true, editable: true, edittype: 'text' },
                { name: 'CountProjectView', index: 'CountProjectView', width: 100, sortable: true, editable: true, edittype: 'text' },
                { name: 'CountUserView', index: 'CountUserView', width: 100, sortable: true, editable: true, edittype: 'text' },
                { name: 'CountHourView', index: 'CountHourView', width: 100, sortable: true, editable: true, edittype: 'text' },
                { name: 'MediumTimeView', index: 'MediumTimeView', width: 100, sortable: true, editable: true, edittype: 'text' },
                { name: 'MinLenghtView', index: 'MinLenghtView', width: 100, sortable: true, editable: true, edittype: 'text' },
                { name: 'MaxLenghtView', index: 'MaxLenghtView', width: 100, sortable: true, editable: true, edittype: 'text' },
                { name: 'MediumView', index: 'MediumView', width: 100, sortable: true, editable: true, edittype: 'text' },
                //{ name: 'TimeUpView', index: 'TimeUpView', width: 100, sortable: true, editable: true, edittype: 'text' },
                //{ name: 'TimeOutView', index: 'TimeOutView', width: 100, sortable: true, editable: true, edittype: 'text' },
                //{ name: 'TimeWorkView', index: 'TimeWorkView', width: 100, sortable: true, editable: true, edittype: 'text' },
                { name: 'OneNView', index: 'OneNView', width: 100, sortable: true, editable: true, edittype: 'text' }
                //{ name: 'TimeAfkView', index: 'TimeAfkView', width: 100, sortable: true, editable: true, edittype: 'text' }
            ],
            rowNum: 25,
            rowList: [25, 50, 75],
            width: 800,
            height: 300,
            pager: '#jpagerStatRes',
            loadonce: true,
            sortname: 'Id',
            sortorder: "desc",
            caption: "Статистика"
        });
    }
</script>

