@*@model IEnumerable<SocialFORM.Models.Form.ResultModel>*@
@{
    ViewBag.Title = "TableBlanksFilter";
}
@model PagedList.IPagedList<SocialFORM.Models.Form.ResultModel>
@using PagedList.Mvc;


<style>
    div.title {
        padding: 20px;
        border: 2px solid black;
        background-color: #72afff;
        text-align: center;
        font-size: 30px;
        font-family: 'Courier New';
        font-weight: 900;
    }

    tr.name_colum th {
        border: 1px solid black;
        background-color: rgba(135, 206, 235, 0.7);
        text-align: center;
        min-width: 100px;
    }

    div.table_blanks {
        text-align: center;
        width: auto;
        padding: 15px;
    }

        div.table_blanks td {
            min-width: 100px;
            max-width: 200px;
            width: auto;
            border: 1px solid black;
            text-align: center;
        }

    table.into {
        width: 100%;
        height: 100%;
        min-height: 43px;
        max-height: 100px;
        margin: 0px;
        table-layout: fixed;
    }

    .col_answer {
        width: 100px;
        overflow-y: auto;
    }

    table.into td {
        min-width: 10px;
        margin: 0px;
        padding: 0px;
        border: 0px;
        empty-cells: show;
    }

        table.into td:first-child {
            border-right-style: solid;
            border-right-color: black;
            border-right-width: 1px;
        }

        table.into td.text {
            font-weight: bold;
            font-family: Courier New, Courier, monospace;
            color: mediumblue;
        }
</style>

<div id="table_blanks_new">
    @Html.Partial("_TableBlanksFilter", Model)
</div>
<div class="resDiv">

    <table border="1">
        <tr>
        <th>Дата</th>
        <th>Количество анкет за проект</th>
        <th>Среднее время анкет</th>
        <th>Минимальная длительность</th>
        <th>Максимальная длительность</th>
        <th>Стандартное отклонение</th>
        <th>Время входа</th>
        <th>Время выхода</th>
        <th>Время работы</th>
        <th>Время бездействия</th>
        </tr>
        @foreach (string i in ViewBag.list)
        {
            <tr>
            @foreach (var item in i.Split('/'))
            {
                <td>@item</td>
            }
            </tr>
        }
    </table>
</div>
@*<script type="text/javascript">

    var code = '<table border="1">';
    code += '<tr> <th></th> <th>Дата</th></tr>';
    code += '<tr><td>Количество анкет за проект : </td><td>@ViewBag.countBlanks</td></tr>';
    if (@ViewBag.countBlanks > 1) {
        code += '<tr><td>Среднее время анкет : </td><td>@ViewBag.SrTime</td></tr>';
        code += '<tr><td>Минимальная длительность : </td><td>@ViewBag.min</td></tr>';
        code += '<tr><td>Максимальная длительность : </td><td>@ViewBag.max</td></tr>';
        code += '<tr><td>Стандартное отклонение : </td><td>@ViewBag.SrTimeOT</td></tr>';
    }
    code += '<tr><td> : </td><td>@ViewBag.SrTimeOT</td></tr>';
    code += '<tr><td> : </td><td>@ViewBag.SrTimeOT</td></tr>';
    code += '<tr><td> : </td><td>@ViewBag.SrTimeOT</td></tr>';
    code += '<tr><td> : </td><td>@ViewBag.SrTimeOT</td></tr>';
    code += '</table >';
    $('div.resDiv').append(code);

</script>*@