@model IEnumerable<SocialFORM.Models.UserViewModel>

@{
    int num = 0; 
 }

<h2>Список пользователей</h2>

<p>
    @Ajax.ActionLink("Добавить пользователя", "Register", "Account", new AjaxOptions { UpdateTargetId = "Tables" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("№")
        </th>
        <th>
            @Html.Label("Логин")
        </th>
        <th>
            @Html.Label("Имя")
        </th>
        <th>
            @Html.Label("Фамилия")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        num++;
        <tr>
            <td>
                @num
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyView)
            </td>
            <td>
                <button class="EditUser" id="@item.IdView">Изменить</button>
                <button class="ViewUser" id="@item.IdView">Просмотреть</button>
                <button class="DeleteUser" id="@item.IdView">Удалить</button>
            </td>
        </tr>
    }

</table>

@Scripts.Render("~/scripts/jquery-1.10.2.js")
<script type="text/javascript">
    $(document).ready(function () {
        $(".DeleteUser").click(function () {
            var parrent = $(this).parent('td').parent('tr');
            $.ajax({
                type: "POST",
                url: "/Delete/Delete",
                data: { Id: + $(this).attr("id") },
                ajaxasync: true,
                success: function () {
                    parrent.remove();
                },
                error: function (data) {
                }
            });
        })
    })
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('.ViewUser').click(function (e) {
            e.preventDefault();
            var Id = $(this).attr("id");
            $('#Tables').load("/User/ViewUser?Id=" + Id);
        })
    })
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('.EditUser').click(function (e) {
            e.preventDefault();
            var Id = $(this).attr("id");
            $('#Tables').load("/User/EditUser?Id=" + Id);
        })
    })
</script>